<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'travel/css/stats_home.css' %}" rel="stylesheet">
    <link href=" {% static 'travel/css/stats_pages.css' %}" rel="stylesheet">
    <link href=" {% static 'travel/css/gelato.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">


<title>Gelato</title>
</head>
<body style="background:black;">

<div class="border">

<hr width="1" size="500" style="border: 0; border-top: 400px solid #eee; position: absolute; margin-left: 420px;">
<hr width="1" size="500" style="border: 0; border-top: 400px solid #eee; position: absolute; margin-left: 1015px;">

<div style="margin-top: 0%" class="row">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 my_data_col">
        <div class="vert-center">
            <h3 class="date myfont" style="text-align:center; font-size: 250%;"></h3>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 my_data_col">
        <div class="vert-center">
            <div class="gelato">
                <div class="cup">
                    <h1 class="my_label city myfont" style="font-size: 250%;"></h1>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 30px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 30px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 100px; margin-left: 60px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 40px; margin-left: 60px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 90px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 90px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 100px; margin-left: 120px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 40px; margin-left: 120px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 150px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 150px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 100px; margin-left: 180px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 40px; margin-left: 180px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 210px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 210px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 100px; margin-left: 240px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 40px; margin-left: 240px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 270px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 270px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 100px; margin-left: 300px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 40px; margin-left: 300px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 330px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 330px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 100px; margin-left: 360px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 40px; margin-left: 360px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 390px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 390px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 100px; margin-left: 420px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 40px; margin-left: 420px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 450px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 450px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 100px; margin-left: 480px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 40px; margin-left: 480px;"></span>

                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 70px; margin-left: 510px;"></span>
                    <span class="dot" style="background: radial-gradient(16px at 16px 50% , #ffa9a9 0%, #efa3a3 19px);margin-top: 10px; margin-left: 510px;"></span>


                </div>
                <div class="icecream_l"></div>
                <div class="icecream_r"></div>
             </div>
        </div>
    </div>
</div>

<div style="margin-top: 21%;" class="row">
    <div class="col-lg-3 col-lg-offset-3 col-xs-12 my_data_col">
        <div class="vert-center">
            <h3 class="flavor_left myfont" style="text-align:center; font-size: 250%;"></h3>
        </div>
    </div>
    <div class="col-lg-3 col-xs-12 my_data_col">
        <div class="vert-center">
            <h3 class="flavor_right myfont" style="text-align:center; font-size: 250%;"></h3>
        </div>
    </div>
</div>


</div>
{% load staticfiles %}
<script src=" {% static 'heartbeat/js/jquery-2.1.1.js' %}" ></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" ></script>
<script src=" {% static 'softball/js/highcharts.js' %}" ></script>
<script src=" {% static 'travel/js/jquery.scrollify.min.js' %}" ></script>
<script src=" {% static 'travel/js/flatdark.js' %}" ></script>
<script src=" {% static 'travel/js/imp_scrollify.js' %}" ></script>


<script>

flavor_lookup={
    'Dark Chocolate': '#271b0e',
    'Stracciatella': '#ebebeb',
    'Coconut': '#fff',
    'Caramel': '#a76b29',
    'Chocolate': '#3f1f09',
    'Strawberry': '#e60000',
    'Banana': '#fff5be',
    'Cherry': '#980000',
    'Lemon': '#fff669',
    'Cheesecake': '#FCFAE1',
    'Hazelnut': '#ae9f80',
    'Pistachio': '#93c572',
    'Nutella': '#80300F',
}

mono_lookup={
    '#271b0e': '#000000', //Dark Chocolate
    '#ebebeb': '#868686', //Stracciatella
    '#fff': '#bdbdbd',    // Coconut
    '#a76b29': '#54330e', // Caramel
    '#3f1f09': '#2a1506', //Chocolate
    '#e60000': '#b30000', //Strawberry
    '#fff5be': '#ffed8b', //Banana
    '#980000': '#650000', //Cherry
    '#fff669':'#fff44f', //Lemon
    '#FCFAE1': '#BD8D46', //Cheesecake
    '#ae9f80': '#998762', //Hazelnut
    '#93c572': '#2d5a0f',  //Pistachio
    '#80300F': '#381506' //Nutella
}

gelato_list_dict = [

    {'flavor_l': 'Dark Chocolate', 'flavor_r': 'Stracciatella', 'date': '08/09/2017', 'location': 'Florence'},
    {'flavor_l': 'Dark Chocolate', 'flavor_r': 'Coconut', 'date': '08/10/2017', 'location': 'Florence'},
    {'flavor_l': 'Dark Chocolate', 'flavor_r': 'Stracciatella', 'date': '08/10/2017', 'location': 'Florence'},
    {'flavor_l': 'Stracciatella', 'flavor_r': 'Caramel', 'date': '08/11/2017', 'location': 'Florence'},
    {'flavor_l': 'Chocolate', 'flavor_r': 'Stracciatella', 'date': '08/11/2017', 'location': 'Florence'},
    {'flavor_l': 'Dark Chocolate', 'flavor_r': 'Caramel', 'date': '08/12/2017', 'location': 'Florence'},
    {'flavor_l': 'Dark Chocolate', 'flavor_r': 'Strawberry', 'date': '08/13/2017', 'location': 'Florence'},
    {'flavor_l': 'Chocolate', 'flavor_r': 'Banana', 'date': '08/13/2017', 'location': 'Florence'},
    {'flavor_l': 'Dark Chocolate', 'flavor_r': 'Stracciatella', 'date': '08/14/2017', 'location': 'Florence'},
    {'flavor_l': 'Cherry', 'flavor_r': 'Lemon', 'date': '8/14/2017', 'location': 'Florence'},
    {'flavor_l': 'Chocolate', 'flavor_r': 'Coconut', 'date': '08/15/2017', 'location': 'La Spezia'},
    {'flavor_l': 'Stracciatella', 'flavor_r': 'Caramel', 'date': '08/16/2017', 'location': 'Cinque Terra'},
    {'flavor_l': 'Strawberry', 'flavor_r': 'Cheesecake', 'date': '08/16/2017', 'location': 'Cinque Terra'},
    {'flavor_l': 'Dark Chocolate', 'flavor_r': 'Hazelnut', 'date': '08/16/2017', 'location': 'Cinque Terra'},
    {'flavor_l': 'Pistachio', 'flavor_r': 'Nutella', 'date': '08/17/2017', 'location': 'Ferarra'},
]


var counter = 0;
var intervalId = null;
function loop(){
    console.log(counter);
    console.log(intervalId);

    try {
        var ice_l = $('.icecream_l');
        var ice_r = $('.icecream_r');
        var flavor_left = $('.flavor_left');
        var flavor_right = $('.flavor_right');
        var date = $('.date');
        var city = $('.city');

        ice_l.css('background', flavor_lookup[gelato_list_dict[counter]['flavor_l']]);
        ice_r.css('background', flavor_lookup[gelato_list_dict[counter]['flavor_r']]);
        ice_l.css('box-shadow', 'inset 50px 80px 100px -30px '+mono_lookup[flavor_lookup[gelato_list_dict[counter]['flavor_l']]]);
        ice_r.css('box-shadow', 'inset -20px 0px 100px 20px '+mono_lookup[flavor_lookup[gelato_list_dict[counter]['flavor_r']]]);
        flavor_left.html(gelato_list_dict[counter]['flavor_l']);
        flavor_right.html(gelato_list_dict[counter]['flavor_r']);
        date.html(gelato_list_dict[counter]['date']);
        city.html(gelato_list_dict[counter]['location']);

        counter = counter+1;
    }
    catch(err) {
        counter=0;
        <!--clearInterval(intervalId);-->
        intervalId = setInterval(loop, 2000);
    }
}

$(document).ready(function(){
     intervalId = setInterval(loop, 2000);
});


</script>

</body>
</html>