<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'heartbeat/css/dash_style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <!--<div class="row">-->
        <!--<div class="col-xs-1 col-xs-offset-1 centered">-->
            <!--<img src="{% static 'heartbeat/img/dell_icon.png' %}" alt="dell" style="width:50px;height:50px; margin-top:20px;">-->
        <!--</div>-->
        <!--<div class="col-xs-1 centered">-->
            <!--<img src="{% static 'heartbeat/img/enmotus_icon.png' %}" alt="enmotus" style="width:50px;height:50px; margin-top:20px;">-->
        <!--</div>-->
        <!--<div class="col-xs-6 centered">-->
            <!--<h1>Super Computer Conference</h1>-->
        <!--</div>-->
        <!--<div class="col-xs-2 centered">-->
            <!--<img src="{% static 'heartbeat/img/micron_icon.png' %}" alt="micron" style="width:150px;height:100px; margin-top: -10px;">-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-2 centered">
            <h3 class="myheadings myfont">Write Latency</h3>
            <p class="myheadings myfont"><i>Lower is better</i></p>
        </div>
        <div class="col-xs-4 col-xs-offset-3 centered">
            <h3 class="myheadings myfont">Write Bandwidth</h3>
            <p class="myheadings myfont"><i>Higher is better</i></p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-2">
            <div class="row" style="height:20px;">
                <div class="col-xs-12">
                        <h5 class="centered myheadings myfont">NVDIMM</h5>
                </div>
            </div>
            <div class="row" style="height:130px;">
                <div class="col-xs-12">
                    <div class="square1 centered"><p class="centered myheadings myfont" style="font-size: 25px; padding-top: 20px; padding-bottom: 20px;">22µs</p></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                        <h5 class="centered myheadings myfont">NVME</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="square2 centered"><p class="centered myheadings myfont" style="font-size: 25px; padding-top: 20px; padding-bottom: 20px;">267µs</p></div>
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div id="container" style="width: 100%; height: 300px; margin: 0 auto;"></div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-12" style="margin-bottom: -35px;">
                        <h5 class="centered myheadings myfont">NVDIMM</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <div class="nvdimm_write_text centered">
                            <div id="pie_nvdimm_write" style="width: 150px; height: 150px; margin: 0 auto"></div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="margin-bottom: -35px;">
                        <h5 class="centered myheadings myfont">NVME</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <div class="nvme_write_text centered">
                            <div id="pie_nvme_write" style="width: 150px; height: 150px; margin: 0 auto"></div>
                        </div>
                </div>
            </div>





            <!---->
            <!--<div style="width: 100%; height: 75px; margin: 0 auto; margin-top: -40px;">-->
                <!--<h5 class="centered" style="margin-bottom: -25px; color: #adb8c4; font-weight:bold;">NVDIMM</h5>-->
                <!--<table style="width:100%" class="">-->
                    <!--<tr>-->
                        <!--<th class="nvdimm_write_value centered"></th>-->
                        <!--<th class="nvdimm_write_text centered"><div id="pie_nvdimm_write" style="width: 150px; height: 150px; margin: 0 auto"></div></th>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
            <!--<div style="width: 100%; height: 75px; margin: 0 auto; margin-top: 50px;">-->
                <!--<h5 class="centered" style="margin-bottom: -25px; color: #adb8c4; font-weight:bold;">NVME</h5>-->
                <!--<table style="width:100%" class="">-->
                    <!--<tr>-->
                        <!--<th class="nvme_write_value centered"></th>-->
                        <!--<th class="nvme_write_text centered"><div id="pie_nvme_write" style="width: 150px; height: 150px; margin: 0 auto"></div></th>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->


        </div>
    </div>

</div>



{% load staticfiles %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" rel="stylesheet"></script>

<script>
var chart; // global
var pie_nvdimm_write;

/**
 * Request data from the server, add it to the graph and set a timeout
 * to request again
 */
var arr = []
function requestData() {
    url_base = "{% url 'heartbeat:get_data' %}";
    $.ajax({
        url: url_base,
        success: function(msg) {
            var series = chart.series[0], shift = series.data.length > 40;
            chart.series[0].addPoint(msg.arr, false, shift);
            chart.series[1].addPoint(msg.arr2, false, shift);

            max = 1000;
            nvdimm_write_value = (msg.arr[1]/max)*100
            nvme_write_value = (msg.arr2[1]/max)*100

            pie_nvdimm_write.series[0].data[0].update(nvdimm_write_value);
            pie_nvdimm_write.series[0].data[1].update(100-nvdimm_write_value);
            pie_nvdimm_write.setTitle({text: msg.arr[1]+" MBps"});

            pie_nvme_write.series[0].data[0].update(nvme_write_value);
            pie_nvme_write.series[0].data[1].update(100-nvme_write_value);
            pie_nvme_write.setTitle({text: msg.arr2[1]+" MBps"});

            $('.square1').css("animation-duration","1s");
            $('.square2').css("animation-duration","3s");

            chart.redraw()

            $(".nvdimm_write_value").html(msg.arr[1]+" MBps")
            $(".nvme_write_value").html(msg.arr2[1]+" MBps")

            //if (arr.length<20){
            //    arr.push(msg.arr)
            //}
            //else{
            //    arr.shift();
            //    arr.push(msg.arr);
            //}
            //chart.series[0].setData(arr,true);
            setTimeout(requestData, 550);
        },
        cache: false
    });
}

$(document).ready(function() {

    chart = new Highcharts.Chart({
        chart: {
            borderWidth: 0,
            backgroundColor: null,
            renderTo: 'container',
            defaultSeriesType: 'areaspline',
            events: {
                load: requestData
            }
        },
        exporting: { enabled: false },
        credits: {enabled: false},
        tooltip: { enabled: false },
        title: {
            text: ''
        },
        xAxis: {
            title: {
                text: ''
            },
            labels: {
               enabled: false
           },
           minorTickLength: 0,
           tickLength: 0,
           lineWidth: 0,
           minorGridLineWidth: 0,
           lineColor: 'transparent'
        },
        yAxis: {
            max: 1000,
            min: 300,
            title: {
                text: '',
                margin: 0
            },
            labels: {
            formatter: function () {
                val = this.value;
                return ''+val.toLocaleString()+' MBps';
            },
            style: {
                color: '#adb8c4',
                fontSize:'16px'
            }
            },
           minorTickLength: 0,
           tickLength: 0,
           lineWidth: 0,
           minorGridLineWidth: 0,
           lineColor: 'transparent'
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.75,
                lineWidth: 5,
                marker: {
                    enabled: false
                }
            },
            series: {
                marker: {
                    states: {
                        hover: {
                            enabled: false
                        }
                    }
                }
            }
        },
        series: [{
            name: 'NVDIMM',
            data: [],
            color: '#2e90da',
        },
        {
            name: 'NVME',
            data: [],
            color: '#9aca3d',
        }]
    });

pie_nvdimm_write = Highcharts.chart('pie_nvdimm_write', {
    chart: {
        borderWidth: 0,
        backgroundColor: null,
    },
    title: {
        text: '',
        align: 'center',
        verticalAlign: 'middle',
        y: 40,
        style: {
            color: '#adb8c4',
            fontSize:'16px'
        },
        floating: true,
        y: 50
    },
    exporting: { enabled: false },
    credits: {enabled: false},
    tooltip: { enabled: false },
    plotOptions: {
        pie: {
            colors: ["#2e90da", "rgba(0, 0, 0, 0)"],
            dataLabels: {
                enabled: false,
            },
            startAngle: -105,
            endAngle: 105,
            center: ['50%', '75%'],
        }
    },
    series: [{
        type: 'pie',
        innerSize: '50%',
        data: [
            ['Firefox',   75],
            ['Opera',     25],
            {
                y: 0.2,
                dataLabels: {
                    enabled: false
                }
            }
        ]
    }]
});

pie_nvme_write = Highcharts.chart('pie_nvme_write', {
    chart: {
        borderWidth: 0,
        backgroundColor: null
    },
    title: {
        text: '',
        align: 'center',
        verticalAlign: 'middle',
        y: 40,
        style: {
            color: '#adb8c4',
            fontSize:'16px'
        },
        floating: true,
        y: 50
    },
    exporting: { enabled: false },
    credits: {enabled: false},
    tooltip: { enabled: false },
    plotOptions: {
        pie: {
           colors: ["#9aca3d", "rgba(0, 0, 0, 0)"],
            dataLabels: {
                enabled: false,
            },
            startAngle: -105,
            endAngle: 105,
            center: ['50%', '75%']
        }
    },
    series: [{
        type: 'pie',
        innerSize: '50%',
        data: [
            ['Firefox',   75],
            ['Opera',     25],
            {
                y: 0.2,
                dataLabels: {
                    enabled: false
                }
            }
        ]
    }]
});


});


</script>

</body>
</html>