<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Heart Rate</title>

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'heartbeat/css/style2.css' %}" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row my-row">
        <div class="col-xs-2 my-block my-block1" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block2" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block2" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block2" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block3" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block4" class="col-xs-2"></div>
    </div>
    <div class="row my-row">
        <div class="col-xs-2 my-block my-block1" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block1" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block2" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block4" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block4" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block4" class="col-xs-2"></div>
    </div>
    <div class="row my-row">
        <div class="col-xs-2 my-block my-block5" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block6" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block6" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block7" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block8" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block8" class="col-xs-2"></div>
    </div>
    <div class="row my-row">
        <div class="col-xs-2 my-block my-block5" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block6" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block6" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block7" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block7" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block8" class="col-xs-2"></div>
    </div>
    <div class="row my-row">
        <div class="col-xs-2 my-block my-block5" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block5" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block5" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block7" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block8" class="col-xs-2"></div>
        <div class="col-xs-2 my-block my-block8" class="col-xs-2"></div>
    </div>
</div>


{% load staticfiles %}
<script src=" {% static 'heartbeat/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'heartbeat/js/custom.js' %}" rel="stylesheet"></script>

</body>
</html>