<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homepage</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- CSS -->
    {% load staticfiles %}
    <link href=" {% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'homepage/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href=" {% static 'homepage/css/landing-page.css' %}" rel="stylesheet">
    <link href=" {% static 'homepage/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="background">

<nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{% url 'homepage:homepage.views.home' %}">JM</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--removing "navbar-collapse"-->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="disable" role="button" aria-haspopup="true" aria-expanded="false">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Resume
                    <span class="caret"></span></a>
                    <ul style="border-radius: 3px; background: #222;" class="dropdown-menu">
                        <li><a style="color: #9d9d9d;" href="{% url 'resume:resume.views.index' %}">Electrical Engineering</a></li>
                        <li><a style="color: #9d9d9d;" href="{% url 'resume:resume.views.developer' %}">Developer</a></li>
                        <li><a style="color: #9d9d9d;" href="{% url 'resume:resume.views.applications' %}">Applications</a></li>
                    </ul>
                </li>

                <!--<li>-->
                    <!--<a class="page-scroll" href="{% url 'resume:resume.views.index' %}">Resume</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="page-scroll" href="{% url 'homepage:homepage.views.projects' %}">Projects</a>-->
                <!--</li>-->
                <li>
                    <a class="page-scroll" href="{% url 'softball:softball.views.index' %}">Softball</a>
                </li>
                <li class="disable" role="button" aria-haspopup="true" aria-expanded="false">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Travel
                    <span class="caret"></span></a>
                    <ul style="border-radius: 3px; background: #222;" class="dropdown-menu">
                        <li><a style="color: #9d9d9d;" href="{% url 'travel:travel.views.home' %}">Europe</a></li>
                        <li><a style="color: #9d9d9d;" href="{% url 'map:map.views.index' %}">Asia</a></li>
                    </ul>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'books:books.views.home' %}">Books</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'loveletter:loveletter.views.main_window' %}">Love Letter</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'game:game.views.index' %}">Pandemic</a>
                </li>
                <li class="disable" role="button" aria-haspopup="true" aria-expanded="false">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Finance
                    <span class="caret"></span></a>
                    <ul style="border-radius: 3px; background: #222;" class="dropdown-menu">
                        <li><a style="color: #9d9d9d;" href="{% url 'finance:finance.views.investment_analyzer' %}">Investment Analyzer</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-message">
                    <!--{% load staticfiles %}-->
                    <!--<img src="{% static 'homepage/img/cover_photo.png' %}" class="img-responsive img-circle" alt="">-->
                    <h1>Jakob Morrison</h1>
                    <h3>NEW Landing Page</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://github.com/jakesmorrison" class="btn btn-default btn-lg btn-jake"><i class="fa fa-github-alt fa-3x" aria-hidden="true"></i><span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/jakob-morrison-090934123" class="btn btn-default btn-lg btn-jake"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i><span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/jakesmorrison/" class="btn btn-default btn-lg btn-jake"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i><span class="network-name"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->


<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <p class="footer-jake">&copy; .</p>
</div>

    <!-- jQuery -->
    {% load staticfiles %}
    <script src=" {% static 'homepage/js/jquery.min.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'homepage/js/bootstrap.min.js' %}" rel="stylesheet"></script>
    <!--<script src=" {% static 'homepage/js/new-age.min.js' %}" rel="stylesheet"></script>-->

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<script>
jQuery(document).ready(function($)  {

    $("li.dropdown a").click(function(e){
        $(this).next('ul.dropdown-menu').css("display", "block");
        e.stopPropagation();
    });

    $(".footer-jake").text(new Date().getFullYear()+" Jake Morrison")
});
</script>

</body>

</html>

