.li-side1 {
    list-style-type: none;
    border: 3px solid black;
    height: 50px;
    margin: 5px;
    width: 100%;
}

.li-side2 {
    list-style-type: none;
    border: 3px solid black;
    height: 50px;
    margin: 5px;
    width: 100%;
    background: gray;
    color: white;
}

#sortable1{
    width: 100%;
    margin: 0;
}

#sortable2{
    width: 100%;
    margin: 0;
}
.centered{
    text-align: center;
}

.panel-text{
    text-align: center;
    font-weight: 700;
}

.input-init{
    width: 75px;
    text-align: center;
}

.input-hp{
    width: 75px;
    text-align: center;
}

.input-name{
    margin-left: 5px;
    width: 90%;
    text-align: center;
}

label {
    margin-bottom: 0px;
}

.unclickable{
    height: 0px;
    border: 1px solid black;
}

.ui-sortable{
    padding: 0px;
}

#hp-input{
    width: 50px;
    display: inline;
}


#popup{
    position: absolute;
    padding: 5px;
    background: white;
    top: 2%;
    left: 66%;
    border: black 1px solid;
    height: 95%;
    overflow-y: scroll;
}

.close{
    float: right;
}

.monster{
    width: 100%;
    margin-left: 10px;
}

.radio{
    margin-top: 10px;
}

#sortable3{
    padding: 0px;
}

#monster_name{
    margin-left: 10px;
}



.centered{
    text-align: center;
}
.border{
    margin: 15px;
    border: 5px solid grey;
    border-radius: 5px;
}
.skill_label{
    margin:0;
    text-decoration: underline;
}
.skill_value{
    text-align: center;
    font-size: 5vh;
}

.small_text{
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    border-bottom: 3px solid black;
    border-left: 8px solid black;
    font-weight: 700;
    text-align: center;
    font-size: 1.3em;
}

.close{
    margin: 10px;
}

.heading{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mylabel{
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 0.8em;
}

.attack_number{
    font-size: 2em;
    font-weight: 700;
    animation-name: color_change;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.desc_header{
    margin-left: 10px;
}

.desc_text{
    font-weight: 400;
    margin-left: 20px;
}


@-webkit-keyframes color_change {
	from { color: white; }
	to { color: #ff5f5f; }
}
@-moz-keyframes color_change {
	from { color: white; }
	to { color: #ff5f5f; }
}
@-ms-keyframes color_change {
	from { color: white; }
	to { color: #ff5f5f; }
}
@-o-keyframes color_change {
	from { color: white; }
	to { color: #ff5f5f; }
}
@keyframes color_change {
	from { color: white; }
	to { color: #ff5f5f; }
}

