<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project 57</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Unica+One">


    <!-- CSS -->
    {% load staticfiles %}
    <link href=" {% static 'softball/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'softball/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href=" {% static 'softball/css/landing-page.css' %}" rel="stylesheet">
    <link href=" {% static 'softball/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href=" {% static 'softball/css/fixedColumns.dataTables.min.css' %}" rel="stylesheet">
    <link href=" {% static 'softball/css/selectize_default.css' %}" rel="stylesheet">
    <link href=" {% static 'softball/css/grayscale.css' %}" rel="stylesheet" type="text/css" />
    <link href=" {% static 'softball/css/style.css' %}" rel="stylesheet">
    <link href=" {% static 'softball/css/table_style.css' %}" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- jQuery -->
    <script src=" {% static 'softball/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'softball/js/bootstrap.min.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'softball/js/selectize.js' %}" rel="stylesheet"></script>

    <script src=" {% static 'softball/js/datatables.min.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'softball/js/dataTables.fixedColumns.min.js' %}" rel="stylesheet"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src=" {% static 'poo/js/grayscale.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'softball/js/highcharts.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'softball/js/hc_theme.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'softball/js/plot_stats.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'softball/js/player-game-stat.js' %}" rel="stylesheet"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
    <script src="{% static 'softball/js/piechart.js' %}"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a style="" class="navbar-brand page-scroll unica-font" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class=" unica-fontlight">Project</span> 57
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a style="" class="page-scroll unica-font" href="#stats">Stats</a>
                    </li>
                    <li>
                        <a style="" class="page-scroll unica-font" href="#chart">Charts</a>
                    </li>
                    <li>
                        <a style="" class="page-scroll unica-font" href="#dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a style="" class="page-scroll unica-font" href="#schedule">Schedule</a>
                    </li>

                    <!--<li>-->
                        <!--<a style="" class="page-scroll unica-font" href="#poll">Weekly Poll</a>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<a style="" class="dropdown-toggle page-scroll unica-font" data-toggle="dropdown" role="button" href="">Analyses <span class="caret"></span></a>-->
                        <!--<ul style="background-color: #777777;border-radius:3px;" class="dropdown-menu">-->
                            <!--<li><a style="color:white;" href="{% url 'softball:consistency' %}">Consistency Study</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li>
                        <a style="" class="dropdown-toggle page-scroll unica-font" data-toggle="dropdown" role="button" href="">Stat Sheets <span class="caret"></span></a>
                        <ul style="background-color: #777777;border-radius:3px;" class="dropdown-menu">
                            <li><a style="color:white;" href="https://docs.google.com/spreadsheets/d/1YVLnZTwt47f29uaxwyKd3hLczIjFayHzEJNVpoMNqwg/edit?usp=sharing">Spring 2016</a></li>
                            <li><a style="color:white;" href="https://docs.google.com/spreadsheets/d/1WhSkpyVeH1mT4JcXaJHDazJI2osOjLUzYQ0FD5iscAU/edit?usp=sharing">Fall 2016</a></li>
                            <li><a style="color:white;" href="https://docs.google.com/spreadsheets/d/11CCrDZt8UQRSD_Xkvn4X1it0zLuz3QcpKv_44frdslw/edit?usp=sharing">Spring 2017</a></li>
                            <li><a style="color:white;" href="https://docs.google.com/spreadsheets/d/1yrURniAmcatTJT0SSdLAmIsyoTUBjoFV0VIAvFJzI08/edit?usp=sharing">Fall 2017</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header style="height:100%" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading unica-font">Project 57</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- stats Section -->
    <section style="height:100%" id="stats" class="content-section text-center">
        <div class="download-section">
            <div class="container">
            <div>
                <h2 class="unica-font">Project 57 Stats</h2>
            </div>
            <div class="row">
                <div class="col-lg-12" id="top_selectors" style="margin-top: 0px;">
                        <div class="btn-group setting-min-width" role="group">
                            <label class="mylabel unica-font">Season</label>
                            <input class="input_selectize setting-min-width" name="select-season" id="select-season" readonly>
                        </div>
                        <div class="btn-group" role="group">
                            <label class="mylabel unica-font">Game</label>
                            <input type="text" class="input_selectize setting-min-width" name="select-game" id="select-game">
                        </div>
                        <div class="btn-group" role="group">
                            <label class="mylabel unica-font">Player</label>
                            <input type="text" class="input_selectize setting-min-width" name="select-player" id="select-player">
                        </div>
                        <div class="btn-group" role="group">
                            <input class="btn btn-default mybutton btn-sm hover" style="width: 40px !important; margin-top: 22px;" value="Go" name="submit" id="submit" readonly>
                        </div>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-12">
                    <div class="mytable" id="mytable">
                        {{ table|safe }}
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>

    <!-- Chart Section -->
    <section style="height:100%" id="chart" class="container content-section text-center">
        <div class="row">
            <div style="padding-top: 12%;" id="myContainer" class="col-lg-12 col-lg-offset-0">

            </div>
        </div>
    </section>

    <!-- Player History -->
    <section style="height:100%" id="dashboard" class="container content-section text-center">
        <div class="download-section">
            <div class="container">
            <div>
                <h2 class="unica-font">
                <span>
                    <select style="width: 200px; color:black; background-color: white;" id="select-dash" class="demo-default" placeholder="Select Player...">
                        <option value="">Select Player...</option>
                        {% for x in rosterCats %}
                            <option value={{ x }}>{{x}}</option>
                        {%endfor%}
                    </select>
                </span>
                    </h2>
            </div>
            <div class="row">
                <div class="col-lg-8" id="top_selectors" style="margin-top: 0px;">
                    <div style="" id="container" class="col-lg-12 col-lg-offset-0">
                    </div>
                </div>
                <div class="col-lg-4" id="pie_chart" style="margin-top: -20px;">
                    <div style="margin-left: 20px;" class="plot1 col-lg-12 col-lg-offset-0">
                    </div>
                </div>
            </div>

        </div>


    </section>

    <!-- Schedule Section -->
    <section style="padding-top: 12%; height:100%;" id="schedule" class="container content-section text-center">
        <div  class="row">
            <h2 class="unica-font" style="text-align:center;">Fall 2017 Schedule</h2>
            <br>
            <div class="col-lg-6">
                This schedule was a mess....Not even going to try.
                <!--<p class="unica-font schedule" ><strike>Game 1: Wednesday 04/19 - 7:45 WL6</strike> L</p>-->
                <!--<p class="unica-font schedule" ><strike>Game 2: Wednesday 05/03 - 7:45 WL5</strike> L</p>-->
                <!--<p class="unica-font schedule" ><strike>Game 3: Friday 05/05 - 9:00 WL3</strike> L</p>-->
                <!--<p class="unica-font schedule" ><strike>Game 4: Friday 05/12 - 6:30 WL1</strike> W</p>-->
                <!--<p class="unica-font schedule" ><strike>Game 5: Wednesday 05/17 - 9:00 WL5</strike> W</p>-->
            </div>
            <div class="col-lg-6">
                <!--<p class="unica-font schedule"><strike>Game 6: Wednesday 05/31 - 9:00 AM1</strike> W</p>-->
                <!--<p class="unica-font schedule"><strike>Game 7: Friday 06/16 - 7:45 WL1 </strike> W</p>-->
                <!--<p class="unica-font schedule"><strike>Game 8: Wednesday 06/21 - 7:45 WL2</strike> W</p>-->
                <!--<p class="unica-font schedule"><strike>Game 9: Wednesday 06/28 - 6:30 WL1</strike> T</p>-->
                <!--<p class="unica-font schedule"><strike>Game 10: Wednesday 06/28 - 9:00 WL1</strike> L</p>-->
            </div>
        </div>
    </section>

        <!-- Weekly Poll Section -->
    <!--<section style="padding-top: 12%; height:100%;" id="poll" class="container content-section text-center">-->
        <!--<div  class="row">-->
            <!--<div class="col-lg-6 col-lg-offset-3">-->
                <!--<div id="poll_chart"></div>-->
                <!--<div id="poll_question">-->
                    <!--<h2 class="unica-font" style="text-align:center;">{{pollQuestion|safe}}</h2>-->
                    <!--{%for p in possibilities%}-->
                    <!--<div style="text-align:left;" class="radio">-->
                        <!--<label><input type="radio" name="optradio">{{p}}</label>-->
                    <!--</div>-->
                    <!--{% endfor %}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div  class="row">-->
            <!--<div class="col-lg-6 col-lg-offset-3">-->
                <!--<div class="btn-group">-->
                    <!--<button type="button" class="btn btn-primary" onclick="submit_poll()">Submit Vote</button>-->
                    <!--<button type="button" style="margin-left: 5px;" class="btn btn-primary">Show Results</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</section>-->

<script>
function highlight_high(arr){
    arr.sort(function(a,b){
        return parseFloat($(a).text()) - parseFloat($(b).text());
    });
    var high = $(arr[arr.length-1]).text();
    var low = $(arr[0]).text();
    for(i=0; i<arr.length; i++){
        if ($(arr[i]).text() === high && $(arr[i]).text() != 0){
            $(arr[i]).addClass('highest');
        }
        else if ($(arr[i]).text() === low && $(arr[i]).text() != 0){
            $(arr[i]).addClass('lowest');
        }
    }
}

function highlight_low(arr){
    arr.sort(function(a,b){
        return parseFloat($(a).text()) - parseFloat($(b).text());
    });
    var high = $(arr[arr.length-1]).text();
    var low = $(arr[0]).text();
    for(i=0; i<arr.length; i++){
        if ($(arr[i]).text() === high && $(arr[i]).text() != 0){
            $(arr[i]).addClass('lowest');
        }
        else if ($(arr[i]).text() === low && $(arr[i]).text() != 0){
            $(arr[i]).addClass('highest');
        }
    }
}

function make_chart(url) {
    $.getJSON(url, function(chart_data) {
    $("#regTitle").html("Hello World");
        $("#mytable").html(chart_data.table);
        setup_table();
        add_options($select_season, chart_data.seasons,chart_data.current_season)
        add_options($select_game, chart_data.games,chart_data.current_game)
        add_options($select_player, chart_data.players,chart_data.current_players)
    });
}

$("#submit").click( function(){
    $("#mytable").html("");

    <!--Return data from server and make chart. -->
    var season = $('#select-season').val();
    var game = $("#select-game").val();
    var player = $('#select-player').val();

    url_base = "{% url 'softball:index_updates' %}";
    params = {'season': season, 'game': game,'player': player};
    url = url_base + "?" + $.param( params );
    make_chart(url);
});

function setup_table(){
    var index = $('#table-custom-sort').find('th:last').index();
    var table = $('#table-custom-sort').DataTable({
        order:          [[ index, "asc" ], [1, "desc"]],
        scrollY:        "300px",
        scrollX:        true,
        scrollCollapse: true,
        paging:         false,
        bFilter:        false,
        bAutoWidth:     false,
        fixedColumns:   {
            leftColumns: 2,
            rightColumns: 0
        },
        bSort:          true,
        bAutoWidth:     true,
        bInfo:          false,
        bJQueryUI:      true,
        bLengthChange:  true,
        bPaginate:      true,
        bProcess:       true,
        bScrollInfinite:false,
        columnDefs:[
            { orderSequence:["desc","asc"], targets:[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]} ,
        ]
    });

    var labels_high = ["Games", "PA", "AB", "BB", "SB", "H", "1B", "2B", "3B", "4B", "HR", "R", "RBI", "TB", "AVG", "OBP", "SLG", "OPS"];
    for (var i = 0; i < labels_high.length; i++) {
        var tds = $('td.'+labels_high[i]);
        var arr = $.makeArray(tds);
        highlight_high(arr);
    }

    var labels_high = ["SO", "HIDP", "CS", "DBO"];
    for (var i = 0; i < labels_high.length; i++) {
        var tds = $('td.'+labels_high[i]);
        var arr = $.makeArray(tds);
        highlight_low(arr);
    }

    var tds = $('td.Ranking');
    var arr = $.makeArray(tds);
    arr.sort(function(a,b){
        return parseFloat($(b).text()) - parseFloat($(a).text());
    });
    $(arr[arr.length-1]).addClass('lowest_pos');
}

var $select_season = $('#select-season').selectize({
    plugins: ['remove_button'],
    maxItems: 1,
    readOnly: true,
    create: false,
    onDelete: function() { return false }
});
var $select_game = $('#select-game').selectize({
    plugins: ['remove_button'],
    maxItems: 1,
    readOnly: true,
    onDelete: function() { return false }
});
var $select_player = $('#select-player').selectize({
    plugins: ['remove_button'],
    maxItems: 1,
    readOnly: true,
    onDelete: function() { return false }
});



function add_options($select, somelist, currentselect){
    var selectize = $select[0].selectize;
    new_options = somelist

    selectize.clear()
    selectize.clearOptions()

    selectize.renderCache['option'] = {};
    selectize.renderCache['item'] = {};

    for (i = 0; i < new_options.length; i++) {
        selectize.addOption({text:new_options[i],value: new_options[i]});
    }
    selectize.addOption(new_options)
    $select[0].selectize.setValue(currentselect);
}


$('#select-season').change(function() {
    url_base = "{% url 'softball:change_season' %}";
    params = {'season': $("#select-season").val()};
    my_url = url_base + "?" + $.param( params );
    $.ajax({
        url: my_url,
        type: 'GET',
        success: function (msg) {
            add_options($select_game, msg.game_list,"All");
        }
    });
});


$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') ) {
        $(this).collapse('hide');
    }
});



$('#select-dash').change(function() {
    url_base = "{% url 'softball:player_dash' %}";
    params = {'name': $("#select-dash").val()};
    my_url = url_base + "?" + $.param( params );
    $(".plot1").html("");
    $.ajax({
        url: my_url,
        type: 'GET',
        success: function (msg) {
            player_game_stat(msg["player_game_stat_data"],msg["player_game_stat_cat"],msg["player_game_stat_bands"]);
            piechart(msg["pie_chart"]);
        }
    });
})

function submit_poll(){
    url_base = "{% url 'softball:submit_poll' %}";
    var selected = $("input[type='radio'][name='s_2_1_6_0']:checked");
    params = {'selection': selected.val()};
    my_url = url_base + "?" + $.param( params );
    $.ajax({
        url: my_url,
        type: 'GET',
        success: function (msg) {
        }
    });
}

$(document).ready(function() {
    setup_table();
    $("#poll_chart").hide();

    add_options($select_season, {{seasons|safe}},"{{current_season|safe}}")
    add_options($select_game, {{games|safe}},"All")
    add_options($select_player, {{players|safe}},"All")

    plot_stats("{{ dataType|safe }}","myContainer",{{ rosterCats|safe }},{{ seriesData|safe }})

    <!--$('#select-dash').selectize({-->
        <!--allowEmptyOption: true,-->
        <!--create: true-->
    <!--});-->

});


</script>


</body>
</html>