<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Oscar Submission</title>

    {% load staticfiles %}
    <link href=" {% static 'oscar/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href=" {% static 'oscar/css/oscar.css' %}" rel="stylesheet">


</head>
<body style="background-color: black;">

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="row row0 scrollrow" style="background-color: black;">
                <div class="col-xs-12">
                    <h3 class="leader_board_title">2018 Champion<h3>
                    <h1 class="leader_board_title">Jakob Morrison<h1>
                    <img class="my_image" src=" {% static 'oscar/images/jake.png' %} ">
                </div>
            </div>

            <div class="row row0 scrollrow" style="background-color: black;">
                <div class="col-xs-12">
                    <h3 class="leader_board_title">2018 Co-Champion<h3>
                    <h1 class="leader_board_title">Tony Kavran<h1>
                    <img class="my_image" src=" {% static 'oscar/images/tony.png' %} ">
                </div>
            </div>



            <div class="row row1 scrollrow" style="background-color: black;">
                <div class="col-xs-12">
                    <h1 class="title">Oscar Picks!<h1>
                    <input class="input_name" type="text" name="name" value="Enter Your Full Name">
                </div>
            </div>

            <div class="row row2 scrollrow" style="background-color: black;">
                <div class="col-xs-12">
                    <div class="row cat_row">
                        <h1 class="cat"><h1>
                    </div>
                    <div class="row table_row">

                    </div>
                    <div class="row button_row">
                        <div class="col-xs-6 centered">
                               <button type="button" class="btn btn-default prev centered">Previous</button>
                        </div>
                        <div class="col-xs-6 centered">
                            <button type="button" class="btn btn-default next centered">Next</button>
                            <button type="button" class="btn btn-default submit centered">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row3 scrollrow" style="background-color: black;">
                <div class="col-xs-12 picks_data">
                    <button type="button" class="btn btn-default picks centered">Get My Picks</button>
                </div>
            </div>

            <div class="row row4 scrollrow" style="background-color: black;">
                <div class="col-xs-12 ranking">
                    <h1 class="leader_board_title">Leader Board<h1>
                    {{rankings|safe}}
                </div>
            </div>

            <div class="row row5 scrollrow" style="background-color: black;">
                <div class="col-xs-12 ranking">
                    <h1 class="leader_board_title">Our Oscar Winners<h1>
                    {{our_winners|safe}}
                </div>
            </div>



        </div>
    </div>
</div>

<script src=" {% static 'moviepass/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
<script src=" {% static 'oscar/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'books/js/datatables.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'books/js/dataTables.fixedColumns.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'oscar/js/jquery.scrollify.min.js' %}" ></script>



<script>

var current_page = 0;
var oscar_options = {{oscar_options|safe}}
var selections = {}


$( document ).ready(function() {
    $('.submit').hide();

    var height = $(window).height();
    $(".my_image").css("height", height*.70);
    $(".scrollrow").css("height", height);

    var title_height = $(".title").height();
    var input_name_height = $(".input_name").height();
    $(".title").css("margin-top", height/3 - (title_height+input_name_height)/2);


    $(".table_row").css("height", height*.80);
    $(".button_row").css("height", height*.10);
    $(".cat_row").css("height", height*.10);

    $(".picks").css("margin-top", height/2);


    $(".cat").text(Object.keys(oscar_options)[current_page])
    table_data = create_table(Object.values(oscar_options)[current_page])
    $(".table_row").html(table_data);

    if (current_page === 0){
        $('.prev').hide();
    }

    $.scrollify({
        section : ".scrollrow",
        interstitialSection : "",
        easing: "easeOutExpo",
        scrollSpeed: 1100,
        scrollbars: true,
        overflowScroll: true,
        updateHash: true,
        touchScroll:true,
        before:function() {
            <!--if ("row row2 scrollrow" === $.scrollify.current().attr('class') ){-->
                <!--if (data_loaded == false){-->
                    <!--data_loaded == true;-->
                    <!--prev_data = ["test","test"]-->
                <!--}-->

            <!--}-->
        },
        after:function() {},

    });

    $.scrollify.move("#1");

});



$('input:text').click(
    function(){
        $(this).val('');
    });


function create_table(somelist){
    start = '<table style="width:100%"><tr class="table_heading"><th>Selection</th><th>Winner</th><th>Favorite</th></tr>'
    middle = ''
    end = '</table>'
    for(x=0; x<somelist.length; x++){
        middle = middle + '<tr class="table_content"><th>'+somelist[x]+'</th><th> <input type="radio" name="winner" value="'+somelist[x]+'"></th><th><input type="radio" name="favorite" value="'+somelist[x]+'"></th></tr>';
    }
    return start+middle+end;
}

$( ".next" ).click(function() {
  // get current radio data
  selections[ $(".cat").text() ] = $('input[name=winner]:checked').val()+"zzz"+$('input[name=favorite]:checked').val()

  //clear html
  $(".table_row").empty();

  // increment counter
  current_page = current_page + 1

  //get new data
  $(".cat").text(Object.keys(oscar_options)[current_page])
  table_data = create_table(Object.values(oscar_options)[current_page])
  $(".table_row").html(table_data);


  if(Object.keys(oscar_options).length === current_page+1){
        $('.next').hide();
        $('.submit').show()
  }
  else{
    $('.next').show();
    $('.submit').hide()
  }

  if (current_page === 0){
    $('.prev').hide();
  }
  else{
    $('.prev').show();
  }

    if ((Object.keys(oscar_options)[current_page] in selections)) {
        myfoo = Object.values(selections)[current_page].split("zzz");
        win = myfoo[0]
        fav = myfoo[1]

        $("input[name=winner][value= '"+ win + "']").prop('checked', true);
        $("input[name=favorite][value= '"+ fav + "']").prop('checked', true);
    }


});

$( ".prev" ).click(function() {
  // get current radio data
  selections[ $(".cat").text() ] = $('input[name=winner]:checked').val()+"zzz"+$('input[name=favorite]:checked').val()

  //clear html
  $(".table_row").empty();

  // increment counter
  current_page = current_page + - 1

  //get new data
  $(".cat").text(Object.keys(oscar_options)[current_page])
  table_data = create_table(Object.values(oscar_options)[current_page])
  $(".table_row").html(table_data);


  if(Object.keys(oscar_options).length === current_page+1){
        $('.next').hide();
        $('.submit').show()
  }
  else{
    $('.next').show();
    $('.submit').hide()
  }

  if (current_page === 0){
    $('.prev').hide();
  }
  else{
    $('.prev').show();
  }

    if ((Object.keys(oscar_options)[current_page] in selections)) {
        myfoo = Object.values(selections)[current_page].split("zzz");
        win = myfoo[0]
        fav = myfoo[1]

        $("input[name=winner][value= '"+ win + "']").prop('checked', true);
        $("input[name=favorite][value= '"+ fav + "']").prop('checked', true);
    }

});

$( ".submit" ).click(function() {
  selections[ $(".cat").text() ] = $('input[name=winner]:checked').val()+"zzz"+$('input[name=favorite]:checked').val()
  selections["name"] = $(".input_name").val()

    url_base = "{% url 'oscar:add_to_db' %}";
    my_url = url_base + "?" + $.param( selections );
    $.ajax({
        url: my_url,
        type: 'GET',
        success: function (msg) {
            <!--alert("You have submitted your Oscar picks.")-->
            alert("Voting is closed until next year.")
        }
    });
});

$( ".picks" ).click(function() {
    url_base = "{% url 'oscar:get_user_picks' %}";
    my_url = url_base + "?" + $.param( {'user': $(".input_name").val()} );
    $.ajax({
        url: my_url,
        type: 'GET',
        success: function (msg) {
            $(".picks_data").empty();
            $(".picks_data").html("<h1 class='title'>User Picks<h1>"+msg.table);
            $.scrollify.update();
        }
    });
});




</script>

</body>
</html>