<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jakob's Resume</title>
    {% load staticfiles %}
    <link href=" {% static 'resume/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'resume/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href=" {% static 'resume/css/font.css' %}" rel="stylesheet">
    <link href=" {% static 'resume/css/style.css' %}" rel="stylesheet">

</head>
<body>
    <div class="col-lg-10 col-lg-offset-1">
       <!--  <div class="vertical-line"></div> -->
        <div class="row title">
            <h1>Jakob <b>Morrison</b></h1>
        </div>
        <div class="row mybreak1"></div>
        <div class="row mybreak2"></div>
        <div class="row mybreak3"></div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-lg-4">
                    <div class="circle col-centered">
                        <i class="fa fa-paper-plane-o fa-2x" aria-hidden="true" style="top:12px; left:9px; position:absolute;"></i>
                    </div>
                    <p class="subtext my-info"><a href="tel:2083183228">(208)-318-3228</a><br><a href="mailto:jakesmorrison4@gmail.com?Subject=Jakob Morrison Resume">jakesmorrison4@gmail.com</a></p>
                </div>
                <div class="col-lg-4">
                    <div class="circle col-centered">
                        <i class="fa fa-globe fa-3x" aria-hidden="true" style="top:6px; left:9px; position:absolute;"></i>
                    </div>
                    <p href="http://maps.google.com/maps?q=cupertino" class="subtext my-info">
                        <a href="https://www.google.com/maps?q=7216+Lima+Drive+Nampa+Idaho+83687">7216 Lima Drive <br> Nampa, ID, 83687 </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="circle col-centered">
                        <i class="fa fa-desktop fa-2x" aria-hidden="true" style="top:14px; left:12px; position:absolute;"></i>
                    </div>
                    <p class="subtext my-info"><a href="{% url 'homepage:homepage.views.home' %}">jakobmorrison.net</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row title">
                    <h3>Qualifications</h3>
                </div>
                <div class="row mybreak2"></div>
                <p class="subtext">Electrical Engineer with 3+ years experience in semiconductor industry and graduate of ABET-accredited BSEE program. Solid foundation in data analysis, customer debug, and schematic design/simulation. Additional experience in Python, webpage development, and data visualization.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="row title">
                    <h3>Experience</h3>
                </div>
                <div class="row mybreak2"></div>

                <div class="row pull-down">
                    <div class="col-lg-3 col-xs-7">
                        <p class="subtext">Self-Employed <br> Web Developer</p>
                    </div>
                    <div class="col-lg-2 col-xs-5">
                        <p class="subtext hire-dates">Sep 2016</p>
                        <p class="subtext hire-dates">Feb 2017</p>
                    </div>
                    <div class="col-lg-7 col-xs-12">
                        <p class="subtext" style="text-align: left;"><b>Design and create website for local floral shop.</b></p>
                        <ul>
                            <li class="subtext" style="text-align: left;">Front End development completed using Javascript, CSS, and HTML.</li>
                            <li class="subtext" style="text-align: left;">Back End development completed using Python's Django Web Framework; it implements a relational SQLite database.</li>
                            <li class="subtext" style="text-align: left;"><a href="http://www.countryfloralidaho.com">countryfloralidaho.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="my-line"></div>

                <div class="row">
                    <div class="col-lg-3 col-xs-7">
                        <p class="subtext">Micron Technology <br> Product Engineer</p>
                    </div>
                    <div class="col-lg-2 col-xs-5">
                        <p class="subtext hire-dates">Jun 2013</p>
                        <p class="subtext hire-dates">Sep 2016</p>
                    </div>
                    <div class="col-lg-7 col-xs-12">
                        <p class="subtext" style="text-align: left;"><b>Support HMC customer issues and create software solutions to aid teams involved in the RMA process.</b></p>
                        <ul>
                            <li class="subtext" style="text-align: left;">Work closely with the Apps and QA team to solve customer issues as quickly as possible.</li>
                            <li class="subtext" style="text-align: left;">Innovate new methods to streamline data gathering, communications and presentation internally.</li>
                            <li class="subtext" style="text-align: left;">Utilize state-of-the-art in house engineering equipment to support electrical failure analysis.</li>
                            <li class="subtext" style="text-align: left;">Responsible for improving test coverage, and quality of HMC.</li>
                        </ul>
                    </div>
                </div>

                <div class="my-line"></div>

                <div class="row">
                    <div class="col-lg-3 col-xs-7">
                        <p class="subtext">Boise State <br> Research Engineer</p>
                    </div>
                    <div class="col-lg-2 col-xs-5">
                        <p class="subtext hire-dates">Jan 2012</p>
                        <p class="subtext hire-dates">Jun 2013</p>
                    </div>
                    <div class="col-lg-7 col-xs-12">
                        <p class="subtext" style="text-align: left;"><b>Investigating ion plasma as a space propulsion system.</b></p>
                        <ul>
                            <li class="subtext" style="text-align: left;">Responsible for plasma ion thruster grid simulations (OOPIC and Java).</li>
                            <li class="subtext" style="text-align: left;">Solidworks and COMSOL experience.</li>
                            <li class="subtext" style="text-align: left;">Collaborate with a multidisciplinary team.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row title">
                    <h3>Education</h3>
                </div>
                <div class="row mybreak2"></div>
                <div class="col-lg-3 col-xs-7">
                    <p class="subtext">Boise State University<br>B.S. Electrical Engineering</p>
                </div>
                <div class="col-lg-2 col-xs-5">
                    <p class="subtext hire-dates">Sep 2009</p>
                    <p class="subtext hire-dates">May 2013</p>
                </div>
                <div class="col-lg-7 col-xs-12">
                    <p class="subtext" style="text-align: left;"><b>Courses:</b> Integrated Circuits, Semiconductor Devices, Analog Circuit Design, Digital Logic Design, Electromagnetic Theory, Signals and Systems, RF Design, Microprocessors, Computational Mathematics, Java. </p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
