<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jakob's Resume</title>
    {% load staticfiles %}
    <link href=" {% static 'resume/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'resume/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href=" {% static 'resume/css/font.css' %}" rel="stylesheet">
    <link href=" {% static 'resume/css/style.css' %}" rel="stylesheet">

</head>
<body>
    <div class="col-lg-10 col-lg-offset-1">
       <!--  <div class="vertical-line"></div> -->
        <div class="row title">
            <h1>Jakob <b>Morrison</b></h1>
        </div>
        <div class="row mybreak1"></div>
        <div class="row mybreak2"></div>
        <div class="row mybreak3"></div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-lg-4">
                    <div class="circle col-centered">
                        <i class="fa fa-paper-plane-o fa-2x" aria-hidden="true" style="top:12px; left:9px; position:absolute;"></i>
                    </div>
                    <p class="subtext my-info"><a href="tel:2083183228">(208)-318-3228</a><br><a href="mailto:jakesmorrison4@gmail.com?Subject=Jakob Morrison Resume">jakesmorrison4@gmail.com</a></p>
                </div>
                <div class="col-lg-4">
                    <div class="circle col-centered">
                        <i class="fa fa-globe fa-3x" aria-hidden="true" style="top:6px; left:9px; position:absolute;"></i>
                    </div>
                    <p href="http://maps.google.com/maps?q=cupertino" class="subtext my-info">
                        <a href="https://www.google.com/maps/place/1910+Bobs+Dr,+Boise,+ID+83712/">1910 Bobs Dr<br> Boise, ID 83712 </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="circle col-centered">
                        <i class="fa fa-desktop fa-2x" aria-hidden="true" style="top:14px; left:12px; position:absolute;"></i>
                    </div>
                    <p class="subtext my-info"><a href="{% url 'homepage:homepage.views.home' %}">jakobmorrison.net</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row title">
                    <h3>Software Engineer Qualifications</h3>
                </div>
                <div class="row mybreak2"></div>
                <p class="subtext">Innovative developer that has designed and developed many internal
                    applications to increase productivity for multiple engineering teams. Solid foundation in
                    Object Oriented Programming, Problem Solving, and Web Development. Continuing and striving to
                    learn new technologies and programming strategies.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row title">
                    <h3>Technical Tools</h3>
                </div>
                <div class="row mybreak2"></div>
                <p class="subtext">Python, Java, Pandas, Django, GIT, REST API, SQL, Javascript, JQuery, Highcharts, HTML, CSS, Bootstrap</p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="row title">
                    <h3>Experience</h3>
                </div>
                <div class="row mybreak2"></div>

                <div class="row pull-down">
                    <div class="col-lg-3 col-xs-7">
                        <p class="subtext job_title">Micron Technology<br> Applications Engineer</p>
                    </div>
                    <div class="col-lg-2 col-xs-5">
                        <p class="subtext hire-dates">Sep <b>2016</b></p>
                        <p class="subtext hire-dates"><b>Present</b></p>
                    </div>
                    <div class="col-lg-7 col-xs-12">
                        <p class="subtext" style="text-align: left;"><b>Built technical conference demos that utilize and display Micron's advanced memory.</b></p>
                        <ul>
                            <li class="subtext" style="text-align: left;">Created the NVDIMM/NVME demo for Super Computing 2017.</li>
                            <li class="subtext" style="text-align: left;">Designed front end display for the Linley Processing Conference; this demo presents Micron's DRAM ECC capablities. </li>
                        </ul>
                    </div>
                </div>

                <div class="my-line"></div>

                <div class="row pull-down">
                    <div class="col-lg-3 col-xs-7">
                        <p class="subtext job_title">Self-Employed <br> Web Developer</p>
                    </div>
                    <div class="col-lg-2 col-xs-5">
                        <p class="subtext hire-dates">Jan <b>2017</b></p>
                        <p class="subtext hire-dates">Mar <b>2017</b></p>
                    </div>
                    <div class="col-lg-7 col-xs-12">
                        <p class="subtext" style="text-align: left;"><b>Design and create website for local floral shop.</b></p>
                        <ul>
                            <li class="subtext" style="text-align: left;">Front end development completed using Javascript, CSS, and HTML.</li>
                            <li class="subtext" style="text-align: left;">Back end development completed using Python's Django Web Framework.</li>
                            <li class="subtext" style="text-align: left;"><a href="http://www.countryfloralidaho.com">countryfloralidaho.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="my-line"></div>

                <div class="row">
                    <div class="col-lg-3 col-xs-7">
                        <p class="subtext job_title">Micron Technology <br> Product Engineer</p>
                    </div>
                    <div class="col-lg-2 col-xs-5">
                        <p class="subtext hire-dates">Jun <b>2013</b></p>
                        <p class="subtext hire-dates">Sep <b>2016</b></p>
                    </div>
                    <div class="col-lg-7 col-xs-12">
                        <p class="subtext" style="text-align: left;"><b>Innovate new methods to collect, present and visualize data.</b></p>
                        <ul>
                            <!--<li class="subtext" style="text-align: left;">Full-stack developer.</li>-->
                            <li class="subtext" style="text-align: left;">Web development using Python's Django Web Framework.</li>
                            <li class="subtext" style="text-align: left;">
                                Designed and developed a drill down application to present weekly yields, and determine the cause of change.
                                Implemented a relational SQLite database to store and retrieve large amounts of data quickly.
                                This is important because the tool is constantly being used during meetings to debug the product real-time.
                                The json data was pulled from the SQLite database, compiled using Python's Pandas and displayed using Highcharts.
                            </li>
                            <li class="subtext" style="text-align: left;">
                                Designed and developed a DRAM characterization data plotting tool.
                                Implemented a relational SQLite database and added a REST API. The REST API is mainly for user plot selection retention.
                                The application gave the user an almost endless number of plot permutations to select. Once a specific plot was found
                                the parameters could be saved and accessed via the API.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="my-line"></div>

                <div class="row">
                    <div class="col-lg-3 col-xs-7">
                        <p class="subtext job_title">Boise State <br> Research Engineer</p>
                    </div>
                    <div class="col-lg-2 col-xs-5">
                        <p class="subtext hire-dates">Jan <b>2012</b></p>
                        <p class="subtext hire-dates">Jun <b>2013</b></p>
                    </div>
                    <div class="col-lg-7 col-xs-12">
                        <p class="subtext" style="text-align: left;"><b>Investigating ion plasma as a space propulsion system.</b></p>
                        <ul>
                            <li class="subtext" style="text-align: left;">Responsible for plasma ion thruster grid simulations.</li>
                            <li class="subtext" style="text-align: left;">Java used for automating simulations and determining optimized grid layout.</li>
                            <li class="subtext" style="text-align: left;">Collaborate with a multidisciplinary team.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row title">
                    <h3>Education</h3>
                </div>
                <div class="row mybreak2"></div>
                <div class="col-lg-3 col-xs-7">
                    <p class="subtext job_title">Boise State University<br>B.S. Electrical Engineering</p>
                </div>
                <div class="col-lg-2 col-xs-5">
                    <p class="subtext hire-dates">Sep <b>2009</b></p>
                    <p class="subtext hire-dates">May <b>2013</b></p>
                </div>
                <div class="col-lg-7 col-xs-12">
                    <p class="subtext" style="text-align: left;"><b>Courses:</b> Java, Digital Logic Design, Microprocessors, Computational Mathematics, Integrated Circuits, Semiconductor Devices, Analog Circuit Design, Electromagnetic Theory, Signals and Systems, RF Design. </p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
