.centered{
    text-align:center;
}
.heart {
  fill: red;
  position: relative;
  width: 100%;
  height: 50%;
  animation: pulse 1s ease infinite,;
}

@keyframes pulse {
  0% { transform: scale(.5); }
  100% { transform: scale(.7); }
}

.left_arrow{
    margin-right: 5px;
    cursor: pointer;
}
.right_arrow{
    margin-left: 3px;
    cursor: pointer;
}


.rs-control .rs-range-color {
    background-color: #5baac6;
}
.rs-control .rs-path-color {
    background-color: #22958d;
}
.rs-control .rs-handle {
    background-color: #000000;
}
.rs-control .rs-bg-color {
    background-color: #fff;
}

.slider_text{
    position:absolute;
    z-index: 100;
    margin-left: 105px;
    padding-top: 83px;
}

.left .rs-tooltip {
    right: -25px;
}
.right .rs-tooltip {
    left: -25px;
}

.btn:focus {
  outline: none;
}

.slider.slider-horizontal {
    width: 150px;
    height: 20px;
}