#videoElement{
    height: 200px;
    top: 0;
    right: 0;
    position: absolute;
    margin: 10px;
    overflow: hidden;
    border: solid 10px black;
    z-index: 100;
}

#canvas{
    display: none;
    border: solid 10px black;
}

.centered{
    text-align: center;
}

.title{
    margin-left: 50px;
    margin-bottom: 50px;
}

.panel1{
    border: solid 10px black;
}

.panel2{
    display: none;
    border: solid 10px black;
}
.panel2-text{
    font-size: 3em;
}

.panel3{
    display: none;
}

.panel4{
    display: none;
}

#myProgress {
    width: 50%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}
#progress-text{

}