/*body { padding-top: 70px; }*/

body {
    background-color:#d2d2d2;
}

.centered{text-align:center;}

.border {
    border-style: solid;
    border-width: medium;
}

.fake-input-box {
    border: 1px solid transparent;
}

.map {
    width:100%;
    height:100%;
    margin-top: 20px;
}

.circle {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid white;
  border-radius: 50%;
  text-indent: 0px;
  font-size: 20px;
  padding-top: 1px;
  color: #b1b1b1;
}

.square {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid white;
  text-indent: 0px;
  font-size: 12px;
  background-color: grey;
  border-radius:3px;
  cursor: pointer;
  color: #d0d0d0;
}

.cardSpin1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.cardSpin2 {
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
}


.rectangle2 {
    width: 150px;
    height: 225px;
    background: #b1b1b1;
	border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    overflow-y: auto;
}

.popup {
    position: absolute;
    z-index:50;
    top: 30%;
    left: 18%;
}

.backtran{
    transition: background-color 3s ease;
}

.plusminus{
    cursor:pointer;
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

.minus{
margin-top: 14px;
}

#cards{
    display:none;
}

.g_main {
    pointer-events: all;
}

#infection_status{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 405px;
    height: 255px;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
}

#infection_status.toggled {
    display: none;
}

td, th {
text-align:center;
}

#pop_up{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 270px;
    height: 270px;
    border-radius: 10px;
    border: 5px solid black;
    margin: auto;
    background-color:#404040;
    display:none;
    text-align: center;
}

.close_pop{
    float: right;
    display: inline-block;
}

.current_location_text {
    color: white;
    padding: 0px;
}


@media screen and (max-width: 1200px) and (min-width: 520px) {
    #infection_status{
    position: absolute;
    bottom: -5%;
    left: 0%;
    width: 400px;
    height: 160px;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    }
}

@media screen and (max-width: 519px) and (min-width: 200px) {
    #infection_status{
    position: absolute;
    bottom: -5%;
    left: 0%;
    width: 400px;
    height: 160px;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    }
}

.sidebar-nav li a:hover {
    /* text-decoration: none; */
    color: #fff;
    /* background: rgba(255,255,255,0.2); */
}


/* Animations */
.cardSpin{
    position:absolute
    animation: spin 1s normal ease;
    -webkit-animation: spin 1s normal ease;

}

@keyframes{
    0%{transform:rotateY(0deg);}
    100%{transform:rotateY(360deg);}
}

@-webkit-keyframes  rotate {
    0% { -webkit-transform: rotateY(0deg);}
  100% { -webkit-transform: rotateY(360deg);}
}

.redCure{
    background: red;
    background: -webkit-linear-gradient(red, gray);
    background: linear-gradient(red, gray);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0% 0%;
    -webkit-background-size: 100% 200%;
    -webkit-animation: changeColor 1s linear reverse;
    animation: changeColor 1s linear reverse;
}
.redCureErad{
    /*animation: grey-blue 1s ease forwards;
    -webkit-animation: grey-blue 1s ease forwards;*/
    background: red;
}

.redUnCure{
    animation: red-grey 1s ease forwards;
    -webkit-animation: red-grey 1s ease forwards;

}

@keyframes red-grey{
    0%{background-color: red;}
    100%{background-color: grey;}
}

@-webkit-keyframes  red-grey {
    0%{background-color: red;}
    100%{background-color: grey;}
}

@keyframes grey-red{
    0%{background-color: grey;}
    100%{background-color: red;}
}

@-webkit-keyframes  grey-red {
    0%{background-color: grey;}
    100%{background-color: red;}
}

.blueCure{
    /*animation: grey-blue 1s ease forwards;
    -webkit-animation: grey-blue 1s ease forwards;*/
    background: blue;
    background: -webkit-linear-gradient(blue, gray);
    background: linear-gradient(blue, gray);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0% 0%;
    -webkit-background-size: 100% 200%;
    -webkit-animation: changeColor 1s linear reverse;
    animation: changeColor 1s linear reverse;
}

.blueCureErad{
    /*animation: grey-blue 1s ease forwards;
    -webkit-animation: grey-blue 1s ease forwards;*/
    background: blue;
}

@keyframes changeColor{
  0%{background-position: 0% 0%;}
  100%{background-position:0% -100%;}
}

@-webkit-keyframes changeColor{
  0%{background-position: 0% 0%;}
  100%{background-position:0% -100%;}
}

.blueUnCure{
    animation: blue-grey 1s ease forwards;
    -webkit-animation: blue-grey 1s ease forwards;
}

@keyframes blue-grey{
    0%{background-color: blue;}
    100%{background-color: grey;}
}

@-webkit-keyframes  blue-grey {
    0%{background-color: blue;}
    100%{background-color: grey;}
}

@keyframes grey-blue{
    0%{background-color: grey;}
    100%{background-color: blue;}
}

@-webkit-keyframes  grey-blue {
    0%{background-color: grey;}
    100%{background-color: blue;}
}

.yellowCure{
    background: yellow;
    background: -webkit-linear-gradient(yellow, gray);
    background: linear-gradient(yellow, gray);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0% 0%;
    -webkit-background-size: 100% 200%;
    -webkit-animation: changeColor 1s linear reverse;
    animation: changeColor 1s linear reverse;

}
.yellowCureErad{
    /*animation: grey-blue 1s ease forwards;
    -webkit-animation: grey-blue 1s ease forwards;*/
    background: yellow;
}
.yellowUnCure{
    animation: yellow-grey 1s ease forwards;
    -webkit-animation: yellow-grey 1s ease forwards;
}
@keyframes yellow-grey{
    0%{background-color: yellow;}
    100%{background-color: grey;}
}
@-webkit-keyframes  yellow-grey {
    0%{background-color: yellow;}
    100%{background-color: grey;}
}
@keyframes grey-yellow{
    0%{background-color: grey;}
    100%{background-color: yellow;}
}
@-webkit-keyframes  grey-yellow {
    0%{background-color: grey;}
    100%{background-color: yellow;}
}

.blackCure{
    background: black;
    background: -webkit-linear-gradient(black, gray);
    background: linear-gradient(black, gray);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0% 0%;
    -webkit-background-size: 100% 200%;
    -webkit-animation: changeColor 1s linear reverse;
    animation: changeColor 1s linear reverse;
}
.blackCureErad{
    /*animation: grey-blue 1s ease forwards;
    -webkit-animation: grey-blue 1s ease forwards;*/
    background: black;
}
.blackUnCure{
    animation: black-grey 1s ease forwards;
    -webkit-animation: black-grey 1s ease forwards;
}
@keyframes black-grey{
    0%{background-color: black;}
    100%{background-color: grey;}
}
@-webkit-keyframes  black-grey {
    0%{background-color: black;}
    100%{background-color: grey;}
}
@keyframes grey-black{
    0%{background-color: grey;}
    100%{background-color: black;}
}
@-webkit-keyframes  grey-black {
    0%{background-color: grey;}
    100%{background-color: black;}
}

.purpleCure{
    background: purple;
    background: -webkit-linear-gradient(purple, gray);
    background: linear-gradient(purple, gray);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0% 0%;
    -webkit-background-size: 100% 200%;
    -webkit-animation: changeColor 1s linear reverse;
    animation: changeColor 1s linear reverse;
}
.purpleCureErad{
    /*animation: grey-blue 1s ease forwards;
    -webkit-animation: grey-blue 1s ease forwards;*/
    background: purple;
}
.purpleUnCure{
    animation: purple-grey 1s ease forwards;
    -webkit-animation: purple-grey 1s ease forwards;
}
@keyframes purple-grey{
    0%{background-color: purple;}
    100%{background-color: grey;}
}
@-webkit-keyframes  purple-grey {
    0%{background-color: purple;}
    100%{background-color: grey;}
}
@keyframes grey-purple{
    0%{background-color: grey;}
    100%{background-color: purple;}
}
@-webkit-keyframes  grey-purple {
    0%{background-color: grey;}
    100%{background-color: purple;}
}

.blueCounter{
    background: blue;
    background: -webkit-radial-gradient(blue, gray);
    background: radial-gradient(blue, gray);
}
.redCounter{
    background: red;
    background: -webkit-radial-gradient(red, gray);
    background: radial-gradient(red, gray);
}
.yellowCounter{
    background: yellow;
    background: -webkit-radial-gradient(yellow, gray);
    background: radial-gradient(yellow, gray);
}
.blackCounter{
    background: black;
    background: -webkit-radial-gradient(black, gray);
    background: radial-gradient(black, gray);
}
.purpleCounter{
    background: purple;
    background: -webkit-radial-gradient(purple, gray);
    background: radial-gradient(purple, gray);
}

.deck_labels{
    cursor: default;
}