/*body { padding-top: 70px; }*/

body {
    background-color:#d2d2d2;
}

.centered{text-align:center;}

.border {
    border-style: solid;
    border-width: medium;
}

.fake-input-box {
    border: 1px solid transparent;
}

.map {
    width:100%;
    height:100%;
    margin-top: 20px;
}

.circle {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid white;
  border-radius: 50%;
  text-indent: 0px;
  font-size: 20px;
  padding-top: 1px;
  color: #d0d0d0;
}

.square {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid white;
  text-indent: 0px;
  font-size: 12px;
  background-color: grey;
  border-radius:3px;
  cursor: pointer;
  color: #d0d0d0;
}

.cardSpin1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.cardSpin2 {
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
}


.rectangle2 {
    width: 150px;
    height: 225px;
    background: #b1b1b1;
	border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    overflow-y: auto;
}

.popup {
    position: absolute;
    z-index:50;
    top: 30%;
    left: 18%;
}

.backtran{
    transition: background-color 3s ease;
}

.plusminus{
    cursor:pointer;
    color: white;
}

#cards{
    display:none;
}

.g_main {
    pointer-events: all;
}

#infection_status{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-color:white;
}

#infection_status.toggled {
    display: none;
}


td, th {
text-align:center;
}

#pop_up{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 5px solid black;
    margin: auto;
    background-color:#404040;
    display:none;
    text-align: center;
}

.close_pop{
    float: right;
    display: inline-block;
}

.current_location_text {
    color: white;
    padding: 0px;
}


@media screen and (max-width: 1200px) and (min-width: 520px) {
    #infection_status{
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 200px;
        height: 150px;
        border-radius: 10px;
        border: 3px solid black;
        margin: auto;
        overflow-y: auto;
        overflow-x: auto;
        background-color:white;
    }
}

@media screen and (max-width: 519px) and (min-width: 200px) {
    #infection_status{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    }
}
