<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career Day!</title>

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Nunito|Nunito+Sans|Pacifico|Quicksand|Rubik|VT323" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href=" {% static 'sandbox/css/career_day.css' %}" rel="stylesheet">


</head>
<body>

<div style="width: 100%;" class="container">
    <div class="row single-row">
        <div class="col-lg-1 button-col" style="background: white;">

            <div class="row picture_row_1" ></div>
            <div class="row picture_row_2"></div>
            <div class="row picture_row_3" ></div>


        </div>
        <div class="col-lg-4 picture-col img-zoom-container" style="background: black;">
            <div class="row picture_row_1" style="background: blue;">
            </div>
            <div class="row picture_row_2" style="position: relative;">
                    <img id="myimage" class="picture" src="{% static 'sandbox/images/mal.jpg' %}">
            </div>
            <div class="row picture_row_3" style="background: red;">
                <div id="myresult" class="img-zoom-result"></div>
            </div>
        </div>
            <button type="button" class="btn btn-default" onclick="button_pressed()">Default</button>

        <div class="col-lg-2 data-col" ">
            <div id="preview">
                <canvas id="canvas-preview"></canvas>
                <div id="preview-textfield" style="">1,250</div>
            </div>

        </div>

    </div>

</div>


<script src=" {% static 'travel/js/jquery-3.2.1.js' %}" ></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" ></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src=" {% static 'sandbox/js/picture_scatter.js' %}" ></script>
<script src=" {% static 'sandbox/js/gauge.min.js' %}" ></script>


<script>
$( document ).ready(function() {
    var width = $(window).width();
    var height = $(window).height();

    $('.single-row').css("width",width);
    $('.single-row').css("height",height);
    $('.button-col').css("height",height);
    $('.picture-col').css("height",height);
    $('.data-col').css("height",height);

    $('.picture_row_1').css("height",height*.1);
    $('.picture_row_2').css("height",height*.6);
    $('.picture_row_3').css("height",height*.3);

    imageZoom("myimage", "myresult");
});


function imageZoom(imgID, resultID) {
  var img, lens, result, cx, cy;
  img = document.getElementById(imgID);
  result = document.getElementById(resultID);
  /*create lens:*/
  lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");
  /*insert lens:*/
  img.parentElement.insertBefore(lens, img);
  /*calculate the ratio between result DIV and lens:*/
  cx = result.offsetWidth / lens.offsetWidth;
  cy = result.offsetHeight / lens.offsetHeight;
  /*set background properties for the result DIV:*/
  result.style.backgroundImage = "url('" + img.src + "')";
  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
  /*execute a function when someone moves the cursor over the image, or the lens:*/
  lens.addEventListener("mousemove", moveLens);
  img.addEventListener("mousemove", moveLens);
  /*and also for touch screens:*/
  lens.addEventListener("touchmove", moveLens);
  img.addEventListener("touchmove", moveLens);
  function moveLens(e) {
    var pos, x, y;
    /*prevent any other actions that may occur when moving over the image:*/
    e.preventDefault();
    /*get the cursor's x and y positions:*/
    pos = getCursorPos(e);
    /*calculate the position of the lens:*/
    x = pos.x - (lens.offsetWidth / 2);
    y = pos.y - (lens.offsetHeight / 2);
    /*prevent the lens from being positioned outside the image:*/
    if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
    if (x < 0) {x = 0;}
    if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
    if (y < 0) {y = 0;}
    /*set the position of the lens:*/
    lens.style.left = x + "px";
    lens.style.top = y + "px";
    /*display what the lens "sees":*/
    result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /*get the x and y positions of the image:*/
    a = img.getBoundingClientRect();
    /*calculate the cursor's x and y coordinates, relative to the image:*/
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /*consider any page scrolling:*/
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}

var opts = {
  angle: 0.15, // The span of the gauge arc
  lineWidth: 0.44, // The line thickness
  radiusScale: 1, // Relative radius
  pointer: {
    length: 0.75, // // Relative to gauge radius
    strokeWidth: 0.035, // The thickness
    color: '#000000' // Fill color
  },
  limitMax: false,     // If false, max value increases automatically if value > maxValue
  limitMin: false,     // If true, the min value of the gauge will be fixed
  colorStart: '#0077C8',   // Colors
  colorStop: '#0077C8',    // just experiment with them
  strokeColor: '#E0E0E0',  // to see which ones work best for you
  generateGradient: true,
  highDpiSupport: true,     // High resolution support

};
var target = document.getElementById('canvas-preview'); // your canvas element
var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
gauge.maxValue = 3000; // set max gauge value
gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
gauge.animationSpeed = 50; // set animation speed (32 is default value)
gauge.set(1250); // set actual value


function button_pressed(){
    console.log("Test")
    var randomNumberBetween0and19 = 1500+Math.floor(Math.random() * 1000);
    $('#preview-textfield').html(randomNumberBetween0and19);
    gauge.set(randomNumberBetween0and19);
}


</script>

</body>
</html>