<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career Day!</title>

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Nunito|Nunito+Sans|Pacifico|Quicksand|Rubik|VT323" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href=" {% static 'sandbox/css/career_day.css' %}" rel="stylesheet">


</head>
<body>

<div style="width: 100%;" class="container">
    <div class="row single-row">
        <div class="col-lg-1 button-col" style="background: white;">

            <div class="row picture_row_1" ></div>
            <div class="row picture_row_2"></div>
            <div class="row picture_row_3" ></div>


        </div>
        <div class="col-lg-4 picture-col" style="background: black;">
            <div class="row picture_row_1" style="background: blue;">

            </div>
            <div class="row picture_row_2">
                <!--<img class="picture" src="{% static 'sandbox/images/mal.jpg' %}">-->
                <div id="container"></div>
            </div>
            <div class="row picture_row_3" style="background: red;">

            </div>
        </div>

        <div class="col-lg-7 data-col" ">

        </div>

    </div>

</div>


<script src=" {% static 'travel/js/jquery-3.2.1.js' %}" ></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" ></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src=" {% static 'sandbox/js/picture_scatter.js' %}" ></script>


<script>
$( document ).ready(function() {
    var width = $(window).width();
    var height = $(window).height();

    $('.single-row').css("width",width);
    $('.single-row').css("height",height);
    $('.button-col').css("height",height);
    $('.picture-col').css("height",height);
    $('.data-col').css("height",height);

    $('.picture_row_1').css("height",height*.1);
    $('.picture_row_2').css("height",height*.6);
    $('.picture_row_3').css("height",height*.3);

    plot_picture();

});

</script>

</body>
</html>