<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>DNA 1</title>

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'sandbox/css/dna.css' %}" rel="stylesheet">


</head>
<body>

<div class="container" style="width: 100%;">
    <div class="row row0">
        <div class="intro centered">
            <img class="icon centered-image" src="{% static 'sandbox/images/helix.png' %}" alt="micron">
            <h1 style="font-size: 60px;">40 Years of Micron</h1>
            <h2>The Past, Present and Future</h2>
            <button type="button" class="btn btn-success" id="start_btn" onclick="start()">Begin</button>
        </div>
    </div>

    </div>
    <div class="row row1">
        <!--Buttons-->
        <div id="buttons_col" class="col-xs-3">
            <div class="hexagon" id="past_btn"><span class="noselect">Past</span></div>
            <div class="hexagon" id="present_btn"><span class="noselect">Present</span></div>
            <div class="hexagon" id="future_btn"><span class="noselect">Future</span></div>
        </div>

        <!--Panel-->
        <div id="panel_col" class="col-xs-9">

            <div class="col-xs-12 panel0">
                <h1>Click button to begin animation.</h1>
            </div>
            <div class="col-xs-12 panel1">
                <h1>Past</h1>
            </div>
            <div class="col-xs-12 panel2">
                <h1>Present</h1>
            </div>
            <div class="col-xs-12 panel3">
                <h1>Future</h1>
            </div>

        </div>
    </div>
</div>


<script src=" {% static 'travel/js/jquery-3.2.1.js' %}" ></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" ></script>

<script>

var height = $( document ).height();
var width = $( '.container' ).width();

var current_panel;

$( document ).ready(function() {
    setup_ui();
});

function setup_ui(){
    $('.row0').css('height',height);
    $('.intro').css('margin-top',(height-$('.intro').height())/2);

    $('#buttons_col').css('height',height);
    $('#panel_col').css('height',height);
    bh = (height - 200*3)/4
    current_margin = parseFloat($('.hexagon').css('margin-top').replace('px',''))/2;
    bw = ($('#buttons_col').width()/100)*width
    $('.hexagon').css('margin-left',(bw - $('.hexagon').width())/2);
    $('.hexagon').css('margin-top', current_margin+bh);

}

function start(){
    current_panel = 'panel0'
    $('.row0').fadeOut('slow', function(){
        $('.row1').fadeIn('slow');
    });
}

function set_default_buttons(){
  $("#past_btn").css('background-color','white');
  $("#present_btn").css('background-color','white');
  $("#future_btn").css('background-color','white');

  $("#past_btn").css('color','#2c2c2e');
  $("#present_btn").css('color','#2c2c2e');
  $("#future_btn").css('color','#2c2c2e');
}

$("#past_btn").click(function(){
    set_default_buttons();
    $("#past_btn").css('color','white');
    $("#past_btn").css('background-color','#acacff');
    $('.'+current_panel).fadeOut('slow', function(){
        $('.panel1').fadeIn('slow');
        current_panel = 'panel1';
    });
});

$("#present_btn").click(function(){
    set_default_buttons();
    $("#present_btn").css('color','white');
    $("#present_btn").css('background-color','#acacff');
    $('.'+current_panel).fadeOut('slow', function(){
        $('.panel2').fadeIn('slow');
        current_panel = 'panel2';
    });
});

$("#future_btn").click(function(){
    set_default_buttons();
    $("#future_btn").css('color','white');
    $("#future_btn").css('background-color','#acacff');
    $('.'+current_panel).fadeOut('slow', function(){
        $('.panel3').fadeIn('slow');
        current_panel = 'panel3';
    });
});



</script>

</body>
</html>