<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linely Conference</title>

    {% load staticfiles %}
    <link href=" {% static 'sandbox/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'sandbox/css/linely_demo.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">


</head>
<body>

<div class="container" style="">
    <div class="col-lg-11" style="background: #0077C8">
        <div class="row row1">
            <div class="col-lg-12 box-outline">
                <button id="pause" type="button" class="btn btn-default rotate" onclick="pause_unpause()">Bandwidth (Mbps)</button>
                <div id="bw_chart"></div>
            </div>
        </div>

        <div class="row row2">
            <div class="col-lg-6">
                <div id="bubble_chart"></div>
            </div>

            <div class="col-lg-6">
                <div id="error_logging">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col1" style="background: white">
        <div>
            <img class="micron_icon rotate1" src="{% static 'sandbox/images/micron_icon.png' %}" alt="micron">
        </div>
        <p class="para_text"></p>
    </div>


</div>




<script src=" {% static 'sandbox/js/jquery-1.12.4.js' %}"></script>
<script src=" {% static 'sandbox/js/highcharts.js' %}"></script>
<script src=" {% static 'finance/js/highcharts-more.js' %}"></script>
<script src=" {% static 'finance/js/exporting.js' %}"></script>
<script src=" {% static 'sandbox/js/bootstrap.min.js' %}"></script>
<script src=" {% static 'sandbox/js/linely_demo_request_data.js' %}"></script>
<script src=" {% static 'sandbox/js/linely_bw.js' %}"></script>
<script src=" {% static 'sandbox/js/bubble_chart.js' %}"></script>

<script>
var bw_chart;
var bubble_chart;
var error_log_counter = 0;
var pause = false;
var num_log_items = 0

$( document ).ready(function() {

    // Setting Sizing
    var total_height = $(document).height();
    //var row_0_height = parseInt($('.row0').css('height').replace("px",""))+10;
    var row_height = (total_height)/2

    $(".row1").css('height',row_height);
    $(".row2").css('height',row_height);
    $(".col1").css('height',total_height);



    $(".micron_icon").css('margin-top',total_height*.35);
    $(".box-outline").css('margin-top',row_height*.05)
    $("#outline").css('height',row_height*.90)
    $("#bw_chart").css('margin-top',row_height*.03)
    $("#bw_chart").css('height',row_height*.87)
    $("#error_logging").css('height', row_height*.90)
    $("#error_logging").css('margin-top', row_height*.05)

    $("#bubble_chart").css('height', row_height*.90)
    $("#bubble_chart").css('margin-top', row_height*.05)


    num_log_items = ((row_height)*.90)/(10+14-2);


    $('#error_logging').append("<span class='log_line'><span class='date_time'>"+new Date()+": </span><span class='log_header'>Begin Logging</span><br></span>");
    error_log_counter += 1;
    bw_chart = bw_chart();
    bubble_chart = bubble_chart();
    url_base = "{% url 'sandbox:get_data_linely_demo' %}";
    requestData(url_base);

    second_y_axis = $("text:contains('zzz')" )[0];
    x_val = (second_y_axis).getAttribute( 'x' );
    y_val = (second_y_axis).getAttribute( 'y' );

    $("#pause").css("left", parseInt(x_val)-135);
    $("#pause").css("top", parseInt(y_val));


});

function pause_unpause(){
    if (pause === false){
        pause = true;
    }
    else{
        pause = false;
        url_base = "{% url 'sandbox:get_data_linely_demo' %}";
        requestData(url_base);
    }
}


</script>

</body>
</html>