<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slide Show</title>

    {% load staticfiles %}
    <link href=" {% static 'sandbox/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'sandbox/css/micron_slide_show.css' %}" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row row1">
        <div class="slideshow-container">

            <div id="slide0" class="mySlides hide" style="">
                <h1>Slide 1</h1>
            </div>
            <div id="slide1" class="mySlides hide" style="">
                <h1>Slide 2</h1>
            </div>

        </div>
    </div>

    <div class="row row2">
        <div class="col-xs-8">
            <h1 class="main-header myfont bold">Welcome Micron Investors</h1>
        </div>
        <div class="centered col-xs-4 col-xs-offset-0">
            <img style="width: 76%" class="logo micron" src="{% static 'sandbox/images/micron_white.png' %}" alt="micron">
        </div>

    </div>
</div>

<script src=" {% static 'sandbox/js/jquery-1.12.4.js' %}" rel="stylesheet"></script>
<script src=" {% static 'sandbox/js/bootstrap.min.js' %}" rel="stylesheet"></script>


<script>
var number_of_slides = 2;
var slide_counter = 0;
var row1_width;
var row1_height;


$(document).ready(function() {
    //Setting Up Rows
    var height = $(window).height();
    $('.row1').css('height',height*.75);
    $('.row2').css('height',height*.25);

    row1_width = $('.row1').width();
    row1_height = $('.row1').height();

    //Fixing Logo
    var row2_height = $('.row2').height();
    var logo_height1 = $('.micron').height();
    $('.micron').css('margin-top',(row2_height-logo_height1)/2);
    var main_header = $('.main-header').height();
    $('.main-header').css('margin-top',(row2_height-main_header)/2);

    slide_show()

})

function slide_show(){

    if(slide_counter>=number_of_slides){
        slide_counter = 0;
    }

    // Change LEDs.
    url_base = "{% url 'sandbox:change_led' %}";
    params = {'slide': slide_counter};
    url = url_base + "?" + $.param( params );
    $.ajax({
        type: 'GET',
        url: url,
        success: function(msg) {
        }
    });

    slide_counter_delete = slide_counter - 1;
    if (slide_counter_delete<0){
        slide_counter_delete = number_of_slides-1;
    }

    $("#slide"+slide_counter_delete).removeClass("fade");
    $("#slide"+slide_counter_delete).addClass("hide");
    $("#slide"+slide_counter).removeClass("hide");
    $("#slide"+slide_counter).addClass("fade");
    $('#slide'+slide_counter).css('width',row1_width);
    $('#slide'+slide_counter).css('height',row1_height);

    slide_counter +=1;

    setTimeout(slide_show, 5000);
}

</script>

</body>
</html>