<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>DDR4 Speed Grade Backwards Compatibiltiy</title>

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'sandbox/css/bootstrap_toggle.css' %}" rel="stylesheet">
    <link href=" {% static 'sandbox/css/speed_grade.css' %}" rel="stylesheet">


</head>
<body>

<div style="width: 98%;" class="container">
    <div class="svg-container"><svg class="mysvg"></svg></div>

    <div class="row rowm2" style=""><h1 class="title">DDR4 Speed Grade Backwards Compatibiltiy: Component to Component</h1></div>
    <div class="row rowm1" style=""></div>
    <div class="row row0" style="">
        <div class="speed_col">
            {% for e in color_and_rows %}
                <div class="square square_top" id="top-id-{{ e.0|safe }}" style="background: {{ e.1|safe }}"> <p class="label-text">{{ e.0|safe }}</p></div>
            {% endfor %}
        </div>
    </div>
    <div class="row row1"></div>
    <div class="row row2" style="">
        <div class="speed_col">
            {% for e in color_and_rows %}
                <div class="square square_bottom" id="bottom-id-{{ e.0|safe }}" style="background: {{ e.1|safe }}"> <p class="label-text">{{ e.0|safe }} </p></div>
            {% endfor %}
        </div>
    </div>
    <div class="row row3">
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><p class="centered legend" style="background: #696969; color: white;">Y</p></div>
        <div class="col-sm-2"><p class="centered legend" style="background: #5fafff; color: white;">F</p></div>
        <div class="col-sm-2"><p class="centered legend" style="background: #ff5f5f; color: white;">E</p></div>
        <div class="col-sm-2"><p class="centered legend" style="background: #5fffaf; color: white;">D</p></div>
        <div class="col-sm-2"><p class="centered legend" style="background: rgb(134, 107, 181); color: white; ">Null</p></div>
        <div class="col-sm-1">
            <input id="hover_toggle" type="checkbox" data-toggle="toggle">
        </div>

    </div>

</div>


<script src=" {% static 'travel/js/jquery-3.2.1.js' %}" ></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" ></script>
<script src=" {% static 'sandbox/js/bootstrap_toggle.js' %}" ></script>

<script>
var height = $( document ).height();
var width = $( '.container' ).width();
var margin_squares = 3;
var margin_default = 2;
var margin_total = margin_squares+margin_default;
var num_squares = {{ column_count|safe }};
var empty_width = margin_total*2*num_squares;
var square_width = ((width-empty_width)/num_squares);
var square_height = 50;
var square_margin_top = (height*.20-2*margin_squares)-square_height;

var top_and_bottom_row = {{ top_and_bottom_row|safe }};
var connections = {{ connections|safe }};
var line_colors = {{ line_colors|safe }};
var data_rate_keys = {{ data_rate_keys|safe }};
var data_rate_values = {{ data_rate_values|safe }};

var clicked_id = "";

var hover_on = false;

$( document ).ready(function() {

    $('.svg-container').css('height', height);
    $('.svg-container').css('width', width);
    $('.mysvg').css('height', height);
    $('.mysvg').css('width', width);

    $('.rowm2').css('height', height*.08);
    $('.rowm1').css('height', height*.10);
    $('.row0').css('height', height*.10);
    $('.row1').css('height', height*.55);
    $('.row2').css('height', height*.10);
    $('.row3').css('height', height*.05);

    $('.square').css('margin', margin_squares);
    $('.square').css('width', square_width);
    $('.square').css('height', square_height);
    $('.square').css('line-height', square_height+'px');

    //
    for(x=0; x<data_rate_values.length; x++){
        data_values = data_rate_values[x];
        data_keys = data_rate_keys[x];
        $('.rowm1').append("<div id='"+data_keys+"' class='data_rate_labels'><p>"+data_rate_keys[x]+"</p><div class='test'>test</div</div>")
        $('.data_rate_labels').css('margin', margin_default);
        label_width = square_width*(data_values) + (margin_squares + margin_default)*(2*data_values-1);
        $('#'+data_keys).css('width', label_width);
    }

    for(x=0; x<num_squares; x++){
        foo = connections[x].split(",")
        line_color = line_colors[x]
        for(y=0; y<foo.length; y++){
            if (foo != ""){
                draw_line_between('top-id-'+top_and_bottom_row[x],'bottom-id'+foo[y], line_color);
            }
        }
    }
});


function draw_line_between(id_top, id_bottom, line_color){
    // Get square box position.
    var p = $( '#'+id_top );
    var id_top_pos = p.position();

    var line_shift = margin_squares - 1;

    var id_top_left = id_top_pos.left + square_width/2 + line_shift;
    var id_top_top = id_top_pos.top + square_height + line_shift;

    p = $( '#'+id_bottom );
    var id_bottom_pos = p.position();
    var id_bottom_left = id_bottom_pos.left + square_width/2 + 2*margin_squares - line_shift;
    var id_bottom_top = id_bottom_pos.top + 2*margin_squares - line_shift ;

    var mysvg= makeSVG('line', {x1: id_top_left, y1: id_top_top, x2:id_bottom_left, y2:id_bottom_top, stroke: line_color, 'stroke-width': 2, 'origin': id_top, 'dest': id_bottom, 'class': 'line'});

    $( ".mysvg" ).append(mysvg);
}

function makeSVG(tag, attrs) {
    var el= document.createElementNS('http://www.w3.org/2000/svg', tag);
    for (var k in attrs)
        el.setAttribute(k, attrs[k]);
    return el;
}

$( "div.square_top" ).click(function() {
    hovered_id = this.id;
    var child_data = $(".mysvg").children()
    for(x=0; x<child_data.length; x++){
        if (clicked_id === this.id){
            child_data[x].setAttribute('stroke-width', 2);
        }
        else{
            if (hovered_id === child_data[x].getAttribute("origin")){
                child_data[x].setAttribute('stroke-width', 5);
            }
            else{
                child_data[x].setAttribute('stroke-width', 0);
            }
        }
    }
    if (clicked_id === this.id){
        clicked_id = "";
    }
    else{
        clicked_id = this.id;
    }

    var el = $(".mysvg");
    var newone = el.clone(true);
    el.before(newone);
    $("." + el.attr("class") + ":last").remove()
})

$( "div.square_bottom" ).click(function() {
    hovered_id = this.id;
    var child_data = $(".mysvg").children()
    for(x=0; x<child_data.length; x++){
        if (clicked_id === this.id){
            child_data[x].setAttribute('stroke-width', 2);
        }
        else{
            if (hovered_id === child_data[x].getAttribute("dest")){
                child_data[x].setAttribute('stroke-width', 5);
            }
            else{
                child_data[x].setAttribute('stroke-width', 0);
            }
        }
    }
    if (clicked_id === this.id){
        clicked_id = "";
    }
    else{
        clicked_id = this.id;
    }

    var el = $(".mysvg");
    var newone = el.clone(true);
    el.before(newone);
    $("." + el.attr("class") + ":last").remove()
})

$( "div.square_top" ).mouseover(function() {
    if(hover_on === true){
        hovered_id = this.id;
        var child_data = $(".mysvg").children()
        for(x=0; x<child_data.length; x++){
            if (hovered_id === child_data[x].getAttribute("origin")){
                child_data[x].setAttribute('stroke-width', 5);
            }
            else{
                child_data[x].setAttribute('stroke-width', 0);
            }
        }
    }
}).mouseout(function() {
    if(hover_on === true){
        hovered_id = this.id;
        var child_data = $(".mysvg").children()
        for(x=0; x<child_data.length; x++){
                child_data[x].setAttribute('stroke-width', 2);
        }
    }
});

$( "div.square_bottom" ).mouseover(function() {
    console.log(hover_on)
    if(hover_on === true){
        hovered_id = this.id;
        var child_data = $(".mysvg").children()
        for(x=0; x<child_data.length; x++){
            if (clicked_id === this.id){
                child_data[x].setAttribute('stroke-width', 2);
            }
            else{
                if (hovered_id === child_data[x].getAttribute("dest")){
                    child_data[x].setAttribute('stroke-width', 5);
                }
                else{
                    child_data[x].setAttribute('stroke-width', 0);
                }
            }
        }
    }
}).mouseout(function() {
    if(hover_on === true){
        hovered_id = this.id;
        var child_data = $(".mysvg").children()
        for(x=0; x<child_data.length; x++){
                child_data[x].setAttribute('stroke-width', 2);
        }
    }
});


$('#hover_toggle').change(function() {
    hover_on = $(this).prop('checked');
})



</script>

</body>
</html>