.timeline_outer {
    position: relative;
    height: 0px;
    margin-top: 100px;
    background-color: white;
}

.timeline {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.line {
  width:100%;
  height:3px;
  background: #09f;
}
.tick{
  display:inline-block;
  width:20px;
  height:20px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  border: solid 5px #09f;
  cursor: pointer;
}

.timeline_labels{
    font-size: 10px;
    margin-top: 15px;
    font-family: 'Pangolin', cursive;
    display:block;
    width:100%;
    word-wrap:break-word;
    background: white;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .timeline_outer {
        display: none !important;
    }
}