.cat{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
}

.title{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
}

.input_name{
    text-align: center;
    font-family: 'Lobster', cursive;
    box-shadow: 0 0 3px white;
    margin: 0 auto;
    width: 100%;
    background: black;
    color: white;
    border-radius: 3px;
}

.centered{
    text-align: center;
}

.next{
    width: 80%;
    font-size: 25px;
    color: black;
    background: white;
    font-family: 'Lobster', cursive;
}

.prev{
    width: 80%;
    font-size: 25px;
    color: black;
    background: white;
    font-family: 'Lobster', cursive;
}

.picks{
    width: 100%;
    font-size: 25px;
    color: black;
    background: white;
    font-family: 'Lobster', cursive;
}

.submit{
    width: 80%;
    font-size: 25px;
    color: black;
    background: white;
    font-family: 'Lobster', cursive;
}


table, th, td {
    color: white;
    text-align: center;
    padding: 1%;
    font-family: 'Lobster', cursive;
    background: black;
}

.table_heading{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    border-bottom: 5px solid white;
}

.table_content{
    font-family: 'Lobster', cursive;
    font-size: 15px;
    border-bottom: 5px solid white;

}

    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #5fff5f;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid black;
}