<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Love Letter</title>

    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href=" {% static 'loveletter/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'loveletter/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'loveletter:loveletter.views.main_window' %}">Love Letter</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="rules" onclick="show_rules()" >Rules</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div>
    <!-- Page Content -->
    <div class="container">

        <div class="col-lg-10 popup">
            <h4 style="margin-bottom: 30px;" class="post-title">Love Letter Rules
                <span>
                    <button onclick="close_rules()" type="button" class="btn btn-primary" style="background-color:#0085A1; float: right;">Close</button>
                </span>
            </h4>
                <div class="col-lg-12"
                  <h3></h3>
                  <ul class="nav nav-pills nav-justified">
                    <li id="card_rules_1_container" class="active"><a >Cards 0-4</a></li>
                    <li id="card_rules_2_container" ><a>Cards 5-9</a></li>
                  </ul>
                </div>
            <div id="card_rules1" class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 centered">
                            <h3>Jayne</h3>
                            <p>Choose another player. Give them the Jayne Token. If they win this round, you gain a Token. (1)</p>
                        </div>
                        <div class="col-lg-6 centered">
                            <img class='centered' src="{% static 'loveletter/img' %}/_jayne_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 centered">
                            <h3>Saffron</h3>
                            <p>If you have this card in your hand when another player chooses you as part of a Mal effect, they are out of the round. (1)</p>
                        </div>
                        <div class="col-lg-6 centered">
                            <img class='centered' src="{% static 'loveletter/img' %}/0_saffron_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 centered">
                            <h3>Mal</h3>
                            <p>Name a non-Mal card and choose another player. If that player has that card he or she is out of the round. (5)</p>
                        </div>
                        <div class="col-lg-6 centered">
                            <img class='centered' src="{% static 'loveletter/img' %}/1_mal_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 centered">
                            <h3>Book</h3>
                            <p>Look at another player’s hand. (2)</p>
                        </div>
                        <div class="col-lg-6 centered">
                            <img class='centered' src="{% static 'loveletter/img' %}/2_book_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 centered">
                            <h3>Zoe</h3>
                            <p>You and another player secretly compare hands. The player with the lower value is out of the round. (2)</p>
                        </div>
                        <div class="col-lg-6 centered">
                            <img class='centered' src="{% static 'loveletter/img' %}/3_zoe_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 centered">
                            <h3>Kaylee</h3>
                            <p>Until your next turn, ignore all effects from other player’s cards. Or peek at the Hidden Card. (2)</p>
                        </div>
                        <div class="col-lg-6 centered">
                            <img class='centered' src="{% static 'loveletter/img' %}/4_kaylee_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                        </div>
                    </div>
                    <button onclick="close_rules()" type="button" class="col-lg-12 col-xs-12 btn btn-primary" style="margin-top: 10px; background-color:#0085A1; text-align:center;">Close</button>
                </div>
            </div>
            <div id="card_rules2" class="row">
                <div class="row">
                    <div class="col-lg-6 centered">
                        <h3>Wash</h3>
                        <p>Wash: Choose any player (including yourself) to discard his or her hand and draw a new card. (2)</p>
                    </div>
                    <div class="col-lg-6 centered">
                        <img class='centered' src="{% static 'loveletter/img' %}/5_wash_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 centered">
                        <h3>Inara</h3>
                        <p>Choose two players (can include yourself). They must trade hands. Look at one of their hands. (1)</p>
                    </div>
                    <div class="col-lg-6 centered">
                        <img class='centered' src="{% static 'loveletter/img' %}/6_inara_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 centered">
                        <h3>Simon</h3>
                        <p>If you have this card and the Wash or Inara card in your hand, you must discard this card. (1)</p>
                    </div>
                    <div class="col-lg-6 centered">
                        <img class='centered' src="{% static 'loveletter/img' %}/7_simon_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 centered">
                        <h3>River</h3>
                        <p>If you discard this card you are out of the round.</p>
                    </div>
                    <div class="col-lg-6 centered">
                        <img class='centered' src="{% static 'loveletter/img' %}/8_river_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 centered">
                        <h3>Reavers</h3>
                        <p>Name a non-Mal card and choose another player. If they have that card in their hand, gain a Token. River beats the Alliance at the end of the round.</p>
                    </div>
                    <div class="col-lg-6 centered">
                        <img class='centered' src="{% static 'loveletter/img' %}/9_reavers_card.jpg" style='width:25%;height:25%;margin-top: 20px;'>
                    </div>
                </div>
                <button onclick="close_rules()" type="button" class="col-lg-12 col-xs-12 btn btn-primary" style="margin-top: 10px; background-color:#0085A1; text-align:center;">Close</button>
            </div>
        </div>


        {%block body %}
        {% endblock %}
    </div>
    <!-- /.container -->

    {% load staticfiles %}
    <!-- jQuery -->
    <script src=" {% static 'loveletter/js/jquery.js' %}" rel="stylesheet"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=" {% static 'loveletter/js/bootstrap.min.js' %}" rel="stylesheet"></script>

    <script>
        $(document).ready(function(){
            $(".popup").hide();
            $('#card_rules2').hide();

        });
        function show_rules(){
           $(".popup").show();
        }
        function close_rules(){
           $(".popup").hide();
        }

        $("#card_rules_1_container").click(function(){
            $("#card_rules_2_container").removeClass("active");
            $("#card_rules_1_container").addClass("active");
            $('#card_rules2').hide();
            $('#card_rules1').show();
        });
        $("#card_rules_2_container").click(function(){
            $("#card_rules_1_container").removeClass("active");
            $("#card_rules_2_container").addClass("active");
            $('#card_rules1').hide();
            $('#card_rules2').show();
        });

        $(document).on('click','.navbar-collapse.in',function(e) {
            if( $(e.target).is('a') ) {
                $(this).collapse('hide');
            }
        });
    </script>


    {% block customjs %}
    {% endblock %}
</body>
</html>
