/* General */
/*--------------------------------------*/

html, body {
  height: 100%;
  background: #515f70;
}

.centered{
    text-align: center;
}

.hide{
    display: none;
}


/* TEXT */
/*--------------------------------------*/
.myfont{
    font-family: 'Roboto Condensed', sans-serif;
}

.myheading{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #dcdcdc;
}

.mysubheading{
    color: #dcdcdc
}

.mypara{
    font-style: italic;
    color: #cccdd0;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

