.font{
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
}

.single-row{
    background: #5fff5f;
}

.picture{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 3px;
}

.img-zoom-lens {
  position: absolute;
  /*border: 1px solid #d4d4d4;*/
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-container {
  position: relative;
}

#preview-textfield {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
    font-size: 40px;
    font-family: 'Amaranth', sans-serif;
}

#canvas-preview {
    width: 100%;
    top: 130px;
    position: relative;
    text-align: center;
}
