.spelling_box{
    width: 500px;
    height: 100px;
    background: blue;
}

.letter{

    opacity: 1;
    color: white;
    font-size: 90px;
}

.dot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: red;
}