<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <!--CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href=" {% static 'game/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href=" {% static 'game/css/fixedColumns.dataTables.min.css' %}" rel="stylesheet">

    {% block css %}{% endblock %}
    <style>
    * {
        font-family: 'Varela Round', sans-serif;
    }
    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src=" {% static 'game/js/datatables.min.js' %}" rel="stylesheet"></script>
    <script src=" {% static 'game/js/dataTables.fixedColumns.min.js' %}" rel="stylesheet"></script>


        {% block sidebar %}
        {% endblock %}
        {% block content %}
        {% endblock %}


{% block script %}
{% endblock %}

</body>
</html>
