<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Celeb Lookalike</title>

    {% load staticfiles %}
    <link href=" {% static 'celebmatch/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href=" {% static 'celebmatch/css/celebmatch.css' %}" rel="stylesheet">

</head>
  
<body>

    <div id="container">
        <video autoplay="true" id="videoElement" onclick="countdown()"></video>

        <div class="row row0">
            <div class="col-lg-12">
                <h1 class="title">Celebrity Lookalike</h1>
            </div>
        </div>


        <div class="row row1">
            <div class="col-lg-12 centered">
                <div class="panel1">
                    <div class="row">
                        <div class="col-lg-12 centered">
                            <div>
                                <i class="fa fa-camera fa-6x" aria-hidden="true"></i>
                                <h1 class="panel1-text">Press Button To Take Photo!</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel2">
                    <div class="row">
                        <div class="col-lg-12 centered">
                            <h1 class="panel2-text"></h1>
                        </div>
                    </div>
                </div>
                
                <canvas id="canvas"></canvas>

                <div class="panel3">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="actor_name"></h2>
                        </div>
                    </div>
                </div>

                <div class="panel4">
                    <h3 id="progress-text">Test</h3>
                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>



<script src=" {% static 'celebmatch/js/jquery-1.12.4.js' %}" rel="stylesheet"></script>
<script src=" {% static 'celebmatch/js/bootstrap.min.js' %}" rel="stylesheet"></script>

<script>

var canvas = document.getElementById('canvas');
var video = document.querySelector("#videoElement");
var vid_height;
var vid_width;
var height = $( document ).height();
var width = $( document ).width();
var countdown_counter = 0;
var progress_counter = 0;

$( document ).ready(function() {
    vid_height = $("#videoElement").height()*3;
    vid_width = $("#videoElement").width()*2.1;

    // Panel 1 setup.
    $(".panel1").css('width', vid_width)
    $(".panel1").css('height', vid_height)
    $(".panel1").css('margin-left', (width-vid_width)/2)
    $(".fa-camera").css('margin-top',(vid_height - $(".fa-camera").height())/2 - 40)

    // Panel 2 setup.
    $(".panel2").css('width', vid_width)
    $(".panel2").css('height', vid_height)
    $(".panel2").css('margin-left', (width-vid_width)/2)
    $(".panel2-text").css('margin-top',(vid_height - $(".panel2-text").height())/2 - 40)

    //Progress bar
    $("#myProgress").css('margin-left',(vid_width - $("#myProgress").height())/2)


});

// Show Screen Recording.
if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({
            video: true
        })
        .then(function(stream) {
            video.srcObject = stream;
        })
        .catch(function(err0r) {
            console.log("Something went wrong!");
        });
}


function takepicture() {
    var context = canvas.getContext('2d');
    canvas.width = vid_width;
    canvas.height = vid_height;
    context.drawImage(video,0,0,vid_width, vid_height);
    var image = canvas.toDataURL('image/png');
    $('#canvas').fadeIn('slow');

    data = {'data_url': image}
    console.log(data)
    url_base = "{% url 'celebmatch:retrieve_image' %}";

    fake_progress_bar();

    $.ajax({
        url: url_base,
        type : 'GET',
        data : data,
        success: function(msg) {
            $('.actor_name').text(msg['celeb'])
        }
    })
}

function countdown() {
    $('.panel1').hide();
    $('#canvas').hide();
    $('.panel3').hide()
    $('.panel2').show('fast');

    if (countdown_counter == 0){
        $('.panel2-text').text("Get Ready")
    }
    else if (countdown_counter == 1){
        $('.panel2-text').text("3")
    }
    else if (countdown_counter == 2){
        $('.panel2-text').text("2")
    }
    else if (countdown_counter == 3){
        $('.panel2-text').text("1")
    }

    if (countdown_counter <4) {
        countdown_counter += 1;
        setTimeout(countdown, 1000);
    }
    else{
        countdown_counter = 0
        $('.panel2').hide();
        takepicture()
    }
}


function fake_progress_bar(){
    $('.panel4').show()
    $('#progress-text').text("")
    $('#myBar').css('width', '1%')

    if (progress_counter == 0){
        $('#progress-text').text("Uploading...")
        $('#myBar').css('width', '25%')
    }
    else if (progress_counter == 1){
        $('#progress-text').text("Processing Image...")
        $('#myBar').css('width', '50%')
    }
    else if (progress_counter == 2){
        $('#progress-text').text("Processing Image...")
        $('#myBar').css('width', '75%')
    }
    else if (progress_counter == 3){
        $('#progress-text').text("Finished")
        $('#myBar').css('width', '100%')
    }

    if (progress_counter <4) {
        progress_counter += 1;
        setTimeout(fake_progress_bar, 500);
    }
    else{
        progress_counter = 0
        $('.panel4').hide()
        $('#canvas').hide()
        $('.panel3').show()
    }
}

</script>

</body>
</html>