<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link href=" {% static 'map/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href=" {% static 'map/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'map/css/style.css' %}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Map</title>

    <meta name="viewport" content="width=device-width">

</head>
<body>

<!--<nav class="navbar navbar-inverse navbar-fixed-top" style="width: 50%; left: 25%; border-radius: 25px;">-->
  <!--<div class="navbar-header">-->
    <!--<a class="navbar-brand" href="{% url 'homepage:homepage.views.home' %}">Travel <i>(Click Markers)</i></a>-->
    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
      <!--<span class="icon-bar"></span>-->
      <!--<span class="icon-bar"></span>-->
      <!--<span class="icon-bar"></span>-->
    <!--</button>-->
  <!--</div>-->
  <!--<div class="navbar-collapse collapse">-->
    <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li>-->
            <!--<a class="page-scroll" href="{% url 'resume:resume.views.index' %}">Resume</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a class="page-scroll" href="{% url 'homepage:homepage.views.projects' %}">Projects</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a class="page-scroll" href="{% url 'softball:softball.views.index' %}">Softball</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a class="page-scroll" href="{% url 'map:map.views.index' %}">Travel</a>-->
        <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

   <div id="map"></div>
   <div class="hidden md-col-12 col-xs-12" id="mypage">
      <div class="row" id="myheader">
           <div class="md-col-12">
               <i class="myclose fa fa-times-circle fa-4x" aria-hidden="true"></i>
               <h1 class="heading-1">Title</h1>
               <div class="row">
                   <div class="col-md-4 col-md-offset-2">
                       <h4 class="def-loc heading-4">Default Location</h4>
                   </div>
                   <div class="col-md-4">
                      <h4 class="def-date heading-4">Default Date</h4>
                   </div>
               </div>
           </div>
       </div>
   <br>
        <div class="row" id="mycontent"></div>
   </div>

<!--Google maps api key-->
<!--AIzaSyAkgIsC7qfy1DTFZFnGIoXkFPSGAu3SJ5Q-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUBP8yy2VTKSfllFyMKmh89_e5PiTCUo0&callback=initMap"async defer></script>-->

{% load staticfiles %}
<script src=" {% static 'map/js/jquery.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'map/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src="{% static 'map/js/mymap.js' %}"></script>

<script>

create_map({{locationDictionary|safe}});

$( ".myclose" ).click(function() {
    $( "#mypage" ).hide();
});
var marker_a = " {% static 'map/img/google_maps_markers/red_MarkerA.png' %}"
var marker_b = " {% static 'map/img/google_maps_markers/blue_MarkerB.png' %}"
var marker_c = " {% static 'map/img/google_maps_markers/blue_MarkerC.png' %}"
var marker_d = " {% static 'map/img/google_maps_markers/blue_MarkerD.png' %}"
var marker_e = " {% static 'map/img/google_maps_markers/blue_MarkerE.png' %}"


var image_1 = "{% static 'map/img/cent_breakfast.jpg' %}"
console.log(image_1)
var image_2 = "{% static 'map/img/cent_lunch.jpg' %}"

</script>

</body>
</html>