<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Investment Analyzer</title>

    {% load staticfiles %}
    <link href=" {% static 'finance/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/bootstrap_slider.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/round_slider.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/font-awesome.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="container">
    <br>
    <h2 class="centered">Retirement Analyzer</h2>
    <br>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12"><div id="my_chart"></div></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-xs-12 centered">
            <h5 class="" id="age_value"></h5>
            <input class="hidden-sm" id="age" data-slider-id='age' type="text" data-slider-min="18" data-slider-max="65" data-slider-step="1" data-slider-value="27"/>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-xs-12 centered">
            <div>
                <i class="fa fa-question-circle my-inline-text" aria-hidden="true" id="inflation_help" onclick="show_help_info(this,add_class)" ></i>
                <h5 class="my-inline-text" id="inflation_value"></h5>
            </div>
            <input id="inflation" data-slider-id='inflation' type="text" data-slider-min="0" data-slider-max="5" data-slider-step=".5" data-slider-value="2"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <h1 class="centered">Pre Retirement</h1>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <div>
                        <i class="fa fa-question-circle my-inline-text" aria-hidden="true" id="working_years_help" onclick="show_help_info(this,add_class)" ></i>
                        <h5 class="my-inline-text" id="working_years_value"></h5>
                    </div>
                    <input id="working_years" data-slider-id='working_years' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="30"/>
                </div>

                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <div>
                        <i class="fa fa-question-circle my-inline-text" aria-hidden="true" id="initial_investment_help" onclick="show_help_info(this,add_class)" ></i>
                        <h5 class="my-inline-text" id="initial_investment_value"></h5>
                    </div>
                    <input id="initial_investment" data-slider-id='initial_investment' type="text" data-slider-min="0" data-slider-max="500000" data-slider-step="2000" data-slider-value="70000"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <div>
                        <i class="fa fa-question-circle my-inline-text" aria-hidden="true" id="yearly_contribution_help" onclick="show_help_info(this,add_class)" ></i>
                        <h5 class="my-inline-text" id="yearly_contribution_value"></h5>
                    </div>

                    <input id="yearly_contribution" data-slider-id='yearly_contribution' type="text" data-slider-min="0" data-slider-max="100000" data-slider-step="500" data-slider-value="20000"/>
               </div>
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <div>
                        <i class="fa fa-question-circle my-inline-text" aria-hidden="true" id="yearly_return_pre_help" onclick="show_help_info(this,add_class)" ></i>
                        <h5 class="my-inline-text" id="yearly_return_pre_value"></h5>
                    </div>
                    <input id="yearly_return_pre" data-slider-id='yearly_return_pre' type="text" data-slider-min="0" data-slider-max="20" data-slider-step=".5" data-slider-value="6"/>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-xs-12 centered">
                    <div>
                        <i class="fa fa-question-circle my-inline-text" aria-hidden="true" id="yearly_fee_pre_help" onclick="show_help_info(this,add_class)" ></i>
                        <h5 class="my-inline-text" id="yearly_fee_pre_value"></h5>
                    </div>

                    <input id="yearly_fee_pre" data-slider-id='yearly_fee_pre' type="text" data-slider-min="0" data-slider-max="2" data-slider-step=".01" data-slider-value=".06"/>
               </div>
            </div>
            <br>
            <div class="row">
                <div id="retirement_total" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
                <div id="retirement_total_no_fee" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
                <div id="ratio_fee_nofee" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
            </div>
        </div>

        <div class="col-lg-6 col-xs-12">
            <h1 class="centered">Post Retirement</h1>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <h5 id="withdrawl_years_value">Years to Withdraw</h5>
                    <input id="withdrawl_years" data-slider-id='withdrawl_years' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="20"/>
                </div>
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <h5 id="withdrawl_rate_value"></h5>
                    <input id="withdrawl_rate" data-slider-id='withdrawl_rate' type="text" data-slider-min="0" data-slider-max="250000" data-slider-step="1000" data-slider-value="75000"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 centered">
                    <h5 id="yearly_return_post_value"></h5>
                    <input id="yearly_return_post" data-slider-id='yearly_return_post' type="text" data-slider-min="0" data-slider-max="20" data-slider-step=".5" data-slider-value="3"/>
               </div>

                <div class="col-lg-6 col-xs-12 centered">
                    <h5 id="yearly_fee_post_value"></h5>
                    <input id="yearly_fee_post" data-slider-id='yearly_fee_post' type="text" data-slider-min="0" data-slider-max="2" data-slider-step=".01" data-slider-value=".06"/>
               </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-xs-12 centered">
                    <h5 id="roth_trad_value"></h5>
                    <input id="roth_trad" data-slider-id='roth_trad' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50"/>
               </div>

                <div class="col-lg-6 col-xs-12 centered">
                    <h5 id="tax_value"></h5>
                    <input id="tax" data-slider-id='tax' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="15"/>
               </div>
            </div>

            <br>
            <div class="row">
                <div id="total_1" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
                <div id="total_1_no_fee" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
                <div id="percent_1_no_fee" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
            </div>
        </div>

    </div>




</div>

<!-- jQuery -->
{% load staticfiles %}
<!--<script src=" {% static 'books/js/jquery.min.js' %}" rel="stylesheet"></script>-->
<script src=" {% static 'finance/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/bootstrap_slider.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/round_slider.js' %}" rel="stylesheet"></script>
<script src="{% static 'finance/js/highcharts.js' %}"></script>
<script src="{% static 'finance/js/pre_post_retire.js' %}"></script>

<script>
var current_year = (new Date()).getFullYear();
var age = 0;

var working_years = 0;
var initial_investment = 0;

var yearly_contribution = 0
var yearly_return_pre = 0;

var yearly_fee_pre = 0;
var inflation = 0;

withdrawl_years = 0;
withdrawl_rate = 0;

var yearly_return_post = 0;
var yearly_fee_post = 0;

var max_value = 0;
var roth_trad = 0;
var tax = 0;

$( document ).ready(function() {
    setup_sliders();
});

function update_data(){
    var pre_retirement = [];
    var pre_retirement_no_fee = [];
    effective_return_percent = 1 + ((yearly_return_pre-yearly_fee_pre-inflation)/100)/12;
    effective_return_percent_no_fee = 1 + ((yearly_return_pre-inflation)/100)/12;
    for(x=0; x<working_years; x++){
        if(x==0){
            pre_retirement.push(initial_investment);
            pre_retirement_no_fee.push(initial_investment);
        }
        else{
            pre_retirement.push((pre_retirement[x-1]+yearly_contribution)*Math.pow((effective_return_percent), 12));
            pre_retirement_no_fee.push((pre_retirement_no_fee[x-1]+yearly_contribution)*Math.pow((effective_return_percent_no_fee), 12));
        }
    }
    retirement_total = parseInt(pre_retirement[working_years-1]);
    retirement_total_no_fee = parseInt(pre_retirement_no_fee[working_years-1]);

    $("#retirement_total").html("<h5>Total: $"+retirement_total.toLocaleString()+"</h5>")
    $("#retirement_total_no_fee").html("<h5>Amount Lost to Fees: $"+(retirement_total_no_fee-retirement_total).toLocaleString()+"</h5>")
    $("#ratio_fee_nofee").html("<h5>Percent Lost to Fees: "+(100-100*(retirement_total/retirement_total_no_fee)).toLocaleString()+"%</h5>")

    chart.series[0].update({
            data: pre_retirement
    });

    max_value =pre_retirement.slice(-1)[0];
    withdrawl_data = [];

    effective_return_percent_withdrawl = 1 + ((yearly_return_post-yearly_fee_post-inflation)/100)/12;

    for(x=0; x<withdrawl_years; x++){
        if(x==0){
            roth = withdrawl_rate*(1-roth_trad/100);
            trad = withdrawl_rate*(roth_trad/100) + withdrawl_rate*(roth_trad/100)*(tax/100);
            my_with_rate = roth + trad;
            withdrawl_data[x] =([working_years-1,(parseInt(max_value)-my_with_rate)*Math.pow((effective_return_percent_withdrawl), 12)]);
        }
        else{
            roth = withdrawl_rate*(1-roth_trad/100);
            trad = withdrawl_rate*(roth_trad/100) + withdrawl_rate*(roth_trad/100)*(tax/100);
            my_with_rate = roth + trad;
            withdrawl_data[x] =[working_years+x-1, (withdrawl_data[x-1][1]-my_with_rate)*Math.pow((effective_return_percent_withdrawl), 12)];
        }
    }
    chart.series[1].update({
            data: withdrawl_data
    });
}

function setup_sliders(){
    //Other
    $('#age').slider({
        formatter: function(value) {
            age = value;
            $("#age_value").text("Current Age: "+value.toLocaleString()+"");
            return '' + value.toLocaleString() +'';
        }
    });
    $('#inflation').slider({
        formatter: function(value) {
            inflation = value;
            $("#inflation_value").text("Inflation: "+value.toLocaleString() + '%');
            return '' + value.toLocaleString()+'%';
        }
    });

    // Pre Retirement
    $('#working_years').slider({
        formatter: function(value) {
            working_years = value;
            $("#working_years_value").text("Working Years: "+value.toLocaleString());
            return '' + value.toLocaleString();
        }
    });
    $('#initial_investment').slider({
        formatter: function(value) {
            initial_investment = value;
            $("#initial_investment_value").text("Initial Investment: $"+value.toLocaleString());
            return '$' + value.toLocaleString();
        }
    });
    $('#yearly_contribution').slider({
        formatter: function(value) {
            yearly_contribution = value;
            $("#yearly_contribution_value").text("Yearly Contribution: $"+value.toLocaleString());
            return '$' + value.toLocaleString();
        }
    });
    $('#yearly_return_pre').slider({
        formatter: function(value) {
            yearly_return_pre = value;
            $("#yearly_return_pre_value").text("Yearly Return: "+value.toLocaleString() +"%");
            return '' + value.toLocaleString() + "%";
        }
    });
    $('#yearly_fee_pre').slider({
        formatter: function(value) {
            yearly_fee_pre = value;
            $("#yearly_fee_pre_value").text("Yearly Fee: "+value.toLocaleString()+"%");
            return '' + value.toLocaleString() +'%';
        }
    });


    //Post Retirement
    $('#withdrawl_years').slider({
        formatter: function(value) {
            withdrawl_years = value;
            $("#withdrawl_years_value").text("Years to Withdraw: "+value.toLocaleString());
            return '' + value.toLocaleString();
        }
    });
    $('#withdrawl_rate').slider({
        formatter: function(value) {
            withdrawl_rate = value;
            $("#withdrawl_rate_value").text("Yearly Withdraw: $"+value.toLocaleString()+"");
            return '$' + value.toLocaleString() +'';
        }
    });

    $('#yearly_return_post').slider({
        formatter: function(value) {
            yearly_return_post = value;
            $("#yearly_return_post_value").text("Yearly Return: "+value.toLocaleString() +"%");
            return '' + value.toLocaleString() + "%";
        }
    });

    $('#yearly_fee_post').slider({
        formatter: function(value) {
            yearly_fee_post = value;
            $("#yearly_fee_post_value").text("Yearly Fee: "+value.toLocaleString()+"%");
            return '' + value.toLocaleString() +'%';
        }
    });


    $('#roth_trad').slider({
        formatter: function(value) {
            roth_trad = value;
            $("#roth_trad_value").text("% Traditional: "+value.toLocaleString() + '%');
            return '' + value.toLocaleString()+'%';
        }
    });

   $('#tax').slider({
        formatter: function(value) {
            tax = value;
            $("#tax_value").text("Tax Rate: "+value.toLocaleString() + '%');
            return '' + value.toLocaleString()+'%';
        }
    });

    update_data();
}

//Other
$("#age").on("slide", function(slideEvt) {
	age = slideEvt.value;
    update_data();
});
$("#inflation").on("slide", function(slideEvt) {
	inflation = slideEvt.value;
    update_data();
});


// Pre Retirement
$("#working_years").on("slide", function(slideEvt) {
	working_years = slideEvt.value;
    update_data();
});
$("#initial_investment").on("slide", function(slideEvt) {
	initial_investment = slideEvt.value;
    update_data();
});

$("#yearly_contribution").on("slide", function(slideEvt) {
	yearly_contribution = slideEvt.value;
    update_data();
});

$("#yearly_return_pre").on("slide", function(slideEvt) {
	yearly_return_pre = slideEvt.value;
    update_data();
});
$("#yearly_fee_pre").on("slide", function(slideEvt) {
	yearly_fee_pre = slideEvt.value;
    update_data();
});


//Post retirement
$("#withdrawl_years").on("slide", function(slideEvt) {
	withdrawl_years = slideEvt.value;
    update_data();
});
$("#withdrawl_rate").on("slide", function(slideEvt) {
	withdrawl_rate = slideEvt.value;
    update_data();
});
$("#yearly_return_post").on("slide", function(slideEvt) {
	yearly_return_post = slideEvt.value;
    update_data();
});
$("#yearly_fee_post").on("slide", function(slideEvt) {
	yearly_fee_post = slideEvt.value;
    update_data();
});


$("#roth_trad").on("slide", function(slideEvt) {
	roth_trad = slideEvt.value;
    update_data();
});

$("#tax").on("slide", function(slideEvt) {
	tax = slideEvt.value;
    update_data();
});


function minimize(){
    $(".text-area").css("display", "none");
    $(".my_text").html()
    $(".my_text").html("<i class='a fa-plus fa-2' aria-hidden='true'></i>")
}

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

help_info ={
            'inflation_help':'The rate at which goods and services increase and consequently reduce the purchasing power of a currecny.',
            'working_years_help':'The amount of years you want to work until you retire.',
            'initial_investment_help': 'The amount of money you currently have invested in the market (401K, IRA, Money Market).',
            'yearly_contribution_help': 'The amount of money you plan to invest each year.',

            'yearly_return_pre_help': 'The average annual rate of return you expect to have over the course of your working years.',
            'yearly_fee_pre_help': 'The average annual rate you pay in fees to mutual funds, index funds, and investment firms.',
            'yearly_contribution_help': 'The amount of money you plan to invest each year.',
            'yearly_contribution_help': 'The amount of money you plan to invest each year.',
            'yearly_contribution_help': 'The amount of money you plan to invest each year.',

            }

function show_help_info(obj,callback){
    var class_obj = $("#"+obj.getAttribute('id'));

    if( $("#hover_box").hasClass("hover_box") === true){
         $(".hover_box").remove()
    }

    else{
        $(".hover_box").remove()
        position = class_obj.position()
        if (typeof callback == "function"){
            callback(obj.getAttribute('id'), class_obj, position);
        }
    }
}

function add_class(id_name, obj, position){
    obj.parent().append("<div id='hover_box' class='hover_box'></div>")
    $(".hover_box").html("<p>"+help_info[id_name]+"</p>")

    box_top = parseInt(position.top) - parseInt($(".hover_box").css("height"));
    box_left = parseInt(position.left)

    $(".hover_box").css("top",box_top)
    $(".hover_box").css("left",box_left)
}

</script>


</body>
</html>