<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Investment Analyzer</title>

    {% load staticfiles %}
    <link href=" {% static 'finance/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/bootstrap_slider.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/round_slider.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<div class="container">
    <div class="row">
        <h1 class="centered">Investment Analyzer</h1>
        <br>
        <div class="col-lg-10 col-lg-offset-1 col-xs-12"><div id="my_chart"></div></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-xs-12 centered">
            <h5 id="years_value">Number of Years</h5>
            <input id="years" data-slider-id='years' type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="40"/>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-xs-12 centered">
            <h5 id="inflation_value">Inflation</h5>
            <input id="inflation" data-slider-id='inflation' type="text" data-slider-min="0" data-slider-max="5" data-slider-step=".01" data-slider-value="1"/>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <h1 class="centered">Portfolio 1</h1>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <h5 id="seed_value_1">Starting Investment</h5>
                    <!--<span onclick="seed_value_1_left()" class="left_arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>-->
                    <input id="seed_1" data-slider-id='seed_1' type="text" data-slider-min="0" data-slider-max="100000" data-slider-step="1000" data-slider-value="0"/>
                    <!--<span class="right_arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>-->
                </div>
                <div class="col-lg-6 col-xs-12 centered">
                    <h5 id="cont_1_value">Yearly Contribution</h5>
                    <input id="cont_1" data-slider-id='cont_1' type="text" data-slider-min="0" data-slider-max="100000" data-slider-step="100" data-slider-value="15000"/>
               </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <h5 id="yearly_return_value_1">Yearly Return</h5>
                    <input id="yearly_return_1" data-slider-id='yearly_return_1' type="text" data-slider-min="0" data-slider-max="20" data-slider-step=".1" data-slider-value="8"/>
                </div>
                <div class="col-lg-6 col-xs-12 centered">
                    <h5 id="fee_1_value">Yearly Fee</h5>
                    <input id="fee_1" data-slider-id='fee_1' type="text" data-slider-min="0" data-slider-max="3" data-slider-step=".01" data-slider-value=".02"/>
               </div>
            </div>
            <br>
            <div class="row">
                <div id="total_1" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
                <div id="total_1_no_fee" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
                <div id="percent_1_no_fee" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
            </div>

        </div>
        <div class="col-lg-6 col-xs-12">
            <h1 class="centered">Portfolio 2</h1>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <h5 id="seed_value_2">Starting Investment</h5>
                    <!--<span onclick="seed_value_2_left()" class="left_arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>-->
                    <input id="seed_2" data-slider-id='seed_2' type="text" data-slider-min="0" data-slider-max="100000" data-slider-step="1000" data-slider-value="0"/>
                    <!--<span class="right_arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>-->
                </div>
                <div class="col-lg-6 col-xs-12 centered">
                    <h5 id="cont_2_value">Yearly Contribution</h5>
                    <input id="cont_2" data-slider-id='cont_2' type="text" data-slider-min="0" data-slider-max="100000" data-slider-step="100" data-slider-value="15000"/>
               </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 col-xs-12 centered">
                    <h5 id="yearly_return_value_2">Yearly Return</h5>
                    <input id="yearly_return_2" data-slider-id='yearly_return_2' type="text" data-slider-min="0" data-slider-max="20" data-slider-step=".1" data-slider-value="9"/>
                </div>
                <div class="col-lg-6 col-xs-12 centered">
                    <h5 id="fee_2_value">Yearly Fee</h5>
                    <input id="fee_2" data-slider-id='fee_2' type="text" data-slider-min="0" data-slider-max="3" data-slider-step=".01" data-slider-value="1"/>
               </div>
            </div>
            <br>
            <div class="row">
                <div id="total_2" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
                <div id="total_2_no_fee" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
                <div id="percent_2_no_fee" class="col-lg-6 col-lg-offset-3 col-xs-12 centered"></div>
            </div>
        </div>
    </div>




</div>

<!-- jQuery -->
{% load staticfiles %}
<!--<script src=" {% static 'books/js/jquery.min.js' %}" rel="stylesheet"></script>-->
<script src=" {% static 'finance/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/bootstrap_slider.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/round_slider.js' %}" rel="stylesheet"></script>
<script src="{% static 'finance/js/highcharts.js' %}"></script>

<script>
current_year = (new Date()).getFullYear();
var chart = Highcharts.chart('my_chart', {
    chart: {
        type: 'area'
    },
    title: {
        text: ''
    },
    legend: {enabled: true},
    exporting: { enabled: false },
    credits: {enabled: false},
    xAxis: {
        allowDecimals: false,
        labels: {
            formatter: function () {
                return current_year+this.value; // clean, unformatted number for year
            }
        }
    },
    yAxis: {
        title: {
            text: 'Money ($)'
        },
        labels: {
            formatter: function () {
                val = this.value;
                return '$'+val.toLocaleString();
            }
        }
    },
    tooltip: {
        formatter: function () {
            return 'Amount: $' + Math.round(this.y)
        }
    },
    plotOptions: {
        area: {
            marker: {
                enabled: false,
                symbol: 'circle',
                radius: 2,
                states: {
                    hover: {
                        enabled: false
                    }
                }
            }
        }
    },
    series: [{
        name: 'Portfolio 1',
        data: []
    }, {
        name: 'Portfolio 2',
        data: []
    }]
});

var seed_money_1 = 0;
var seed_money_2 = 0;
var years = 0;
var yearly_return_1 = 0;
var yearly_return_2 = 0;
var cont_1 = 0;
var fee_1 = 0;
var cont_2 = 0;
var fee_2;
var inflation = 0;
$( document ).ready(function() {
    setup_sliders();
});
function update_data(){
    var data_1 = []
    var data_2 = []
    var data_1_no_fee = []
    var data_2_no_fee = []
    return_1 = 1 + ((yearly_return_1-fee_1-inflation)/100)/12;
    return_2 = 1 + ((yearly_return_2-fee_2-inflation)/100)/12;
    return_1_no_fee = 1 + ((yearly_return_1-inflation)/100)/12
    return_2_no_fee = 1 + ((yearly_return_2-inflation)/100)/12
    for(x=0; x<years; x++){
        if(x==0){
            //data_1.push(seed_money*return_1);
            //data_2.push(seed_money*return_2);
            data_1.push(seed_money_1);
            data_2.push(seed_money_2);
            data_1_no_fee.push(seed_money_1);
            data_2_no_fee.push(seed_money_2);
        }
        else{
            //data_1.push((data_1[x-1]+cont_1)*return_1);
            //data_2.push((data_2[x-1]+cont_2)*return_2);
            data_1.push((data_1[x-1]+cont_1)*Math.pow((return_1), 12));
            data_2.push((data_2[x-1]+cont_2)*Math.pow((return_2), 12));
            data_1_no_fee.push((data_1_no_fee[x-1]+cont_1)*Math.pow((return_1_no_fee), 12));
            data_2_no_fee.push((data_2_no_fee[x-1]+cont_2)*Math.pow((return_2_no_fee), 12));
        }
    }
    total_1 = parseInt(data_1[years-1]);
    total_2 = parseInt(data_2[years-1]);
    total_1_no_fee = parseInt(data_1_no_fee[years-1]);
    total_2_no_fee = parseInt(data_2_no_fee[years-1]);
    $("#total_1").html("<h5>Total: $"+total_1.toLocaleString()+"</h5>")
    $("#total_2").html("<h5>Total: $"+total_2.toLocaleString()+"</h5>")
    $("#total_1_no_fee").html("<h5>Amount Lost to Fees: $"+(total_1_no_fee -total_1).toLocaleString()+"</h5>")
    $("#total_2_no_fee").html("<h5>Amount Lost to Fees: $"+(total_2_no_fee -total_2).toLocaleString()+"</h5>")
    $("#percent_1_no_fee").html("<h5>Percent Lost to Fees: "+(100-100*(total_1/total_1_no_fee)).toLocaleString()+"%</h5>")
    $("#percent_2_no_fee").html("<h5>Percent Lost to Fees: "+(100-100*(total_2/total_2_no_fee)).toLocaleString()+"%</h5>")
    chart.series[0].update({
            data: data_1
    });
    chart.series[1].update({
            data: data_2
    });
}
function setup_sliders(){
    $('#seed_1').slider({
        formatter: function(value) {
            seed_money_1 = value;
            $("#seed_value_1").text("Starting Investment: $"+value.toLocaleString());
            return '$' + value.toLocaleString();
        }
    });
    $('#seed_2').slider({
        formatter: function(value) {
            seed_money_2 = value;
            $("#seed_value_2").text("Starting Investment: $"+value.toLocaleString());
            return '$' + value.toLocaleString();
        }
    });
    $('#years').slider({
        formatter: function(value) {
            years = value;
            $("#years_value").text("Number of Years: "+value.toLocaleString());
            return '' + value.toLocaleString();
        }
    });
    $('#yearly_return_1').slider({
        formatter: function(value) {
            yearly_return_1 = value;
            $("#yearly_return_value_1").text("Yearly Return: "+value.toLocaleString() +"%");
            return '' + value.toLocaleString() + "%";
        }
    });
    $('#yearly_return_2').slider({
        formatter: function(value) {
            yearly_return_2 = value;
            $("#yearly_return_value_2").text("Yearly Return: "+value.toLocaleString() +"%");
            return '' + value.toLocaleString() + "%";
        }
    });
    $('#cont_1').slider({
        formatter: function(value) {
            cont_1 = value;
            $("#cont_1_value").text("Yearly Contribution: $"+value.toLocaleString());
            return '$' + value.toLocaleString();
        }
    });
    $('#fee_1').slider({
        formatter: function(value) {
            fee_1 = value;
            $("#fee_1_value").text("Yearly Fee: "+value.toLocaleString()+"%");
            return '' + value.toLocaleString() +'%';
        }
    });
    $('#cont_2').slider({
        formatter: function(value) {
            cont_2 = value;
            $("#cont_2_value").text("Yearly Contribution: $"+value.toLocaleString());
            return '$' + value.toLocaleString();
        }
    });
    $('#fee_2').slider({
        formatter: function(value) {
            fee_2 = value;
            $("#fee_2_value").text("Yearly Fee: "+value.toLocaleString()+"%");
            return '' + value.toLocaleString() +"%";
        }
    });
    $('#inflation').slider({
        formatter: function(value) {
            inflation = value;
            $("#inflation_value").text("Inflation: "+value.toLocaleString() + '%');
            return '' + value.toLocaleString()+'%';
        }
    });
    update_data();
}
$("#seed_1").on("slide", function(slideEvt) {
	seed_money_1 = slideEvt.value;
    update_data();
});
$("#seed_2").on("slide", function(slideEvt) {
	seed_money_2 = slideEvt.value;
    update_data();
});
$("#years").on("slide", function(slideEvt) {
	years = slideEvt.value;
    update_data();
});
$("#yearly_return_1").on("slide", function(slideEvt) {
	yearly_return_1 = slideEvt.value;
    update_data();
});
$("#yearly_return_2").on("slide", function(slideEvt) {
	yearly_return_2 = slideEvt.value;
    update_data();
});
$("#cont_1").on("slide", function(slideEvt) {
	cont_1 = slideEvt.value;
    update_data();
});
$("#cont_2").on("slide", function(slideEvt) {
	cont_2 = slideEvt.value;
    update_data();
});
$("#fee_1").on("slide", function(slideEvt) {
	fee_1 = slideEvt.value;
    update_data();
});
$("#fee_2").on("slide", function(slideEvt) {
	fee_2 = slideEvt.value;
    update_data();
});
$("#inflation").on("slide", function(slideEvt) {
	inflation = slideEvt.value;
    update_data();
});
function seed_value_left(){
    $('#seed').slider({
        formatter: function(value) {
            seed_money = value -1000;
            $("#seed_value").text("Starting Investment: $"+(value-1000));
            update_data();
            return '$' + value;
        }
    });
}
</script>


</body>
</html>