<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Tracker</title>

    {% load staticfiles %}
    <link href=" {% static 'finance/css/style.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/fixedColumns.dataTables.min.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/stock.css' %}" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row1">
        <div class="col-lg-3 col-lg-offset-0 col-xs-12">
            <h2>RobinHood</h2>
            <div id="pie_chart" style="margin: 0 auto; margin-top: 5%;"></div>
            {{ html_table|safe }}
            </div>
        </div>
        <div class="col-lg-9 col-lg-offset-0 col-xs-12">
            <div class="highcharts_overlay">
                <h3><span>Portfolio:</span> <span>${{money_in_market|safe}}</span></h3>
                <h4><span>Gain/Loss:</span> <span class="gain_loss_cash">${{gain_loss_cash|safe}}</span></h4>
                <h4><span>Gain/Loss:</span> <span class="gain_loss_percent">{{gain_loss_percent|safe}}%</span></h4>
            </div>
            <div id="stock_stacked" style="margin: 0 auto; margin-top: 10%; width: 100%;"></div>
        </div>
    </div>


    <!--<div class="row1">-->
        <!--<div class="page-break col-lg-4 col-lg-offset-0 col-xs-12">-->
            <!--<div class="row info_row info_row_1">-->
                <!--<h4 class="info_header">Porfolio Value</h4>-->
                <!--<h5 class="info_text">${{money_in_market|safe}}</h5>-->
            <!--</div>-->
            <!--<div class="row info_row info_row_2">-->
                <!--<h4 class="info_header">Gains/Loss %</h4>-->
                <!--<h5 class="info_text">{{gain_loss_percent|safe}}</h5>-->
            <!--</div>-->
            <!--<div class="row info_row info_row_3">-->
                <!--<h4 class="info_header">Gain/Loss $</h4>-->
                <!--<h5 class="info_text">{{gain_loss_cash|safe}}</h5>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="page-break col-lg-8 col-lg-offset-0 col-xs-12">-->
            <!--{{ html_table|safe }}-->
        <!--</div>-->
    <!--</div>-->

</div>


{% load staticfiles %}
<script src=" {% static 'finance/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/datatables.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/dataTables.fixedColumns.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/highstock.js' %}" rel="stylesheet"></script>
<!--<script src=" {% static 'finance/js/highcharts.js' %}" rel="stylesheet"></script>-->
<!--<script src=" {% static 'finance/js/stock_stack.js' %}"></script>-->
<script src=" {% static 'finance/js/stock_area.js' %}"></script>
<script src=" {% static 'finance/js/pie_chart.js' %}"></script>

<script>



$( document ).ready(function() {

    var stack_data = {{data2|safe}};

    var total_height = $(document).height();
    $("#pie_chart").css("height",total_height*.30);
    $("#stock_stacked").css("height",total_height*.90);

    stock_spline({{data1|safe}},stack_data);
    pie_chart({{pie_series|safe}});

    if({{gain_loss_cash|safe}} >= 0){
        $(".gain_loss_cash").css("color","#007800");
    }
    else{
        $(".gain_loss_cash").css("color","#b30000");
    }
    if({{gain_loss_percent|safe}} >= 0){
        $(".gain_loss_percent").css("color","#007800");
    }
    else{
        $(".gain_loss_percent").css("color","#b30000");
    }


});

    $('.table').DataTable({
        sScrollY:      $(document).height()*.20,
        scrollCollapse: true,
        scrollX:        true,
        paging:         false,
        "order": [[ 0, "decs" ]],
        language: { search: "" },
    });




</script>

</body>
</html>