<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load staticfiles %}
    <link href=" {% static 'finance/css/style.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/bootstrap_slider.css' %}" rel="stylesheet">
    <link href=" {% static 'finance/css/stock.css' %}" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-lg-offset-0 col-xs-12">
            <div class="my_table">
            </div>
        </div>
        <div class="col-lg-9 col-lg-offset-0 col-xs-12">
            <div id="stock_stacked" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>


{% load staticfiles %}
<script src=" {% static 'finance/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
<script src=" {% static 'finance/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src="{% static 'finance/js/highcharts.js' %}"></script>
<script src="{% static 'finance/js/stock_stack.js' %}"></script>

<script>



$( document ).ready(function() {
    plot_stock_stack({{stack_data|safe}}, {{date_data|safe}})
});

</script>

</body>
</html>